/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing:-0.5px;
    word-spacing:2px;
    word-break:keep-all;
}

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;

}

a {
    color:inherit;
    text-decoration:none;
}

label[for] {
    cursor:pointer;
    user-select:none;
}

/* 라이브러리 */
.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-bottom {
    position:absolute;
    bottom:0;
}

.absolute-top {
    position:absolute;
    top:0;
}

.absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}

.relative {
    position:relative;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.clear-both {
    clear:both;
}

.img-box > img {
    width:100%;
    display:block;
}

.con {
    margin-left:auto;
    margin-right:auto;
}

.margin-0-auto {
    margin-left:auto;
    margin-right:auto;
}

.text-align-center {
    text-align:center;
}

.text-align-right {
    text-align:right;
}

.line-height-0 {
    line-height:0;
}

.line-height-0 > * {
    line-height:normal;
}

.width-30px {
    width:30px;
}

.width-35px {
    width:35px;
}

.width-40px {
    width:35px;
}

.width-45px {
    width:35px;
}

.width-50px {
    width:50px;
}

.width-80px {
    width:80px;
}

.width-100px {
    width:100px;
}

.width-100p {
    width:100%;
}

.width-60p {
    width:60%;
}

.width-55p {
    width:55%;
}

.width-50p {
    width:50%;
}

.width-45p {
    width:45%;
}

.width-40p {
    width:40%;
}

.width-30p {
    width:30%;
}

.width-35p {
    width:35%;
}

.width-100p-except-30px {
    width:calc(100% - 30px);
}

.width-100p-except-35px {
    width:calc(100% - 35px);
}

.width-100p-except-40px {
    width:calc(100% - 40px);
}

.width-100p-except-50px {
    width:calc(100% - 50px);
}

.width-100p-except-80px {
    width:calc(100% - 80px);
}

.width-100p-except-100px {
    width:calc(100% - 100px);
}

.height-100p {
    height:100%;
}

.height-50p {
    height:50%;
}

.border-box {
    box-sizing:border-box;
}

.font-size-dot-8rem {
    font-size:.8rem;
}

.table-row {
    display:table;
}

.table-row.row::after {
    display:inline;
    clear:non;
}

.table-row > .cell {
    float:none;
    display:table-cell;
}

/* 라이브러리 - flex */
* > .flex {
    display:flex;
}

* > .flex-grow-1 {
    flex-grow:1;
}

* > .flex-jc-end {
    justify-content:flex-end;
}

* > .flex-ai-c {
    display:flex;
    align-items:center;
}

* > .flex-column-nowrap {
    flex-flow:column nowrap;
}

* > .flex-row-nowrap {
    flex-direction:row;
    flex-wrap:nowrap;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-ch-basis-0 > * {
    flex-basis:0;
}
.flex-jc{
    justify-content:center;
}
* > .flex-1-0-0 {
    flex:1 0 0;
}

/* 커스텀 */
.con-min-width {
    min-width:1300px;
}

.con {
    max-width:1300px;
}
.con-1{
    max-width:900px;
    margin:0 auto;
}


body{
    overflow-x:hidden;
}


/* 상단 메뉴 박스 */
.top-bar{
    position:fixed;
    top:8%;
    left:0;
    right:0;
    background-color:white;
    transition:0.5s;
    padding:20px 0;
    z-index:5;
}
.top-bar-wdith{
    top:0;
    max-width:2000px;
    padding:10px 0;
}
.background{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    border-top:1px solid #dfdfdf;
    background-color:white;
    overflow:hidden;
    height:0;
    transition:height 0.3s;
}
.background.active{
    height:250px;
    overflow:visible;
}
.background > ul{
    margin-top:20px;
    justify-content:space-between;
    height:80%;
}
.background > ul > li:last-child{
    margin:20px;
    margin-left:80px;
    padding:0 30px;
    padding-left:50px;
    border-left:1px solid #afafaf;
}
.background > ul > li > ul{
    margin-top:15px;
}
.background > ul > li > ul > li{
    padding:5px 0;
    color:gray;
}
.background > ul > li > ul > li > a{
    transition: 0.3s;
}
.background > ul > li > ul > li:hover > a{
    color:#FF2C2C;
}
.top-bar > .top-menu-box{  
    align-items:center;
    justify-content:space-between;
}
.top-bar > .top-menu-box > .logo-box{
    margin-left:20px;
}
.top-bar > .top-menu-box > ul{
    justify-content:space-evenly;
    align-items:center;
    width:100%;
}
.top-bar > .top-menu-box > ul > li{
    align-items:center;
}
.top-bar > .top-menu-box > ul > li > a{
    padding:10px 20px;
    display:block;
    font-weight:500;
    transition: 0.3s;
}
.top-bar > .top-menu-box > ul > li > span{
    transition:transform 0.3s;
}
.top-bar > .top-menu-box > ul > li > span.active{
    transform:rotate(180deg)
}
.top-bar > .top-menu-box > ul > li:hover > a{
    color:#FF2C2C;
}

/* 위치및 로그인 박스 */

.items-box {
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:20px;
    justify-content:space-between;

    z-index:2;
}
.items-box > .location-box{
    border-bottom:1px solid gray;
    padding-right:80px;
    font-weight:500;
}
.items-box > .login-box > ul > li{
    padding:0 5px;
    font-weight:bold;
}

.my-slider-1{
    z-index:-1;
}


.my-slider-1 .item {
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;

}
.my-slider-1 .item > .img-box{
    width:100%;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;

}
.my-slider-1 .item > .img-box > .img-txt {
    height:100%;
    justify-content:center;
    align-items:center;
}
.my-slider-1 .item > .img-box > .img-txt > ul{
    margin-top:150px;
    margin-left:450px;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li{
    padding:5px 0;

}
.my-slider-1 .item > .img-box > .img-txt > ul > li:first-child{
    font-size:30px;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:nth-child(2),
.my-slider-1 .item > .img-box > .img-txt > ul > li:nth-child(3){
    font-size:60px;
    line-height:65px;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:nth-child(2) > span{
    font-weight:bold;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:nth-child(4){
    font-size:23px;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:nth-child(4) > span{
    font-weight:500;
    margin-left:10px;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:last-child,
.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:last-child{
    justify-content:flex-end;
    margin:0 10px;
    margin-top:50px;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:last-child > a,
.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:last-child > a{
    border:1px solid #CCCCCC;
    padding:8px 40px;
    border-radius:15px;
    background-color: transparent;
    font-weight:bold;
    transition: 0.3s;
}
.my-slider-1 .item > .img-box > .img-txt > ul > li:last-child > a:hover,
.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:last-child > a:hover{
    background-color:#ffffdf;
}

.my-slider-1 .item > .img-box > .img-txt-2 {
    justify-content:center;
    height:100%;
    align-items:center;
}
.my-slider-1 .item > .img-box > .img-txt-2 > ul {
    margin-left:45%;
    margin-top:15%;
}

.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:nth-child(2){
    font-size:50px;
    font-weight:bold;
}
.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:nth-child(3){
    font-size:50px;
}
.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:nth-child(3) > span{
    font-weight:bold;
    color:#FF2C2C;
}

.my-slider-1 .item > .img-box > .img-txt-2 > ul > li:last-child{
    margin-top:40px;
}








.owl-dots{
    position:absolute;
    top:90%;
    left:46%;
}
.my-slider-1 .owl-theme .owl-dots .owl-dot span{
    border:2px solid black;
    background-color: transparent;   
}
.my-slider-1 .owl-theme .owl-dots .owl-dot:hover span{
    background-color: transparent;
}
.my-slider-1 .owl-theme .owl-dots .owl-dot.active{
    border:medium;
}
.my-slider-1 .owl-theme .owl-dots .owl-dot.active  span{
    background-color:black;
}
.my-slider-1 .owl-theme .owl-nav .owl-prev{
    position:absolute;
    top:50%;
    left:0;
}
.my-slider-1 .owl-theme .owl-nav .owl-next{
    position:absolute;
    top:50%;
    right:0;
}
.my-slider-1 .owl-theme .owl-nav .owl-next:hover,
.my-slider-1 .owl-theme .owl-nav .owl-prev:hover{
    background-color:transparent; 
}





.middle-box{
    margin-top:50px;
}
.middle-title-1{
    flex-direction:column;
    align-items:center;
}
.middle-title-1 > nav {
    font-size:35px;
}
.middle-title-1 > nav:last-child{
    font-size:23px;
}
.middle-title-1 > nav > span{
    font-weight:bold;
}
.domino-menu {
    margin-top:80px;
    height:60vh;
}

.tab-box {
    max-width: 1200px;
    min-width: 1200px;
    margin:0 auto;
}
.tab-box-1 .head {
    margin-left:700px;
}
.tab-box-1 .head ul {
    display:block;   
}
.tab-box-1 .head .cell{
    padding:0 20px;
    font-weight:bold;
    font-size:16px;
}
.tab-box-1 .head > ul > li::before {
    content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:0;
    width:1px;
    height:13px;
    background-color:#666666
}
.tab-box-1 .head > ul > li {
    position:relative;
}
.tab-box-1 .head > ul > li:first-child::before {
    display:none;
}


.tab-box-1 > .head > ul > li.active {  
    color:#FF2C2C;
}
.tab-box-1 > .body > ul > li {
    position:relative;
}
.tab-box-1 > .body > ul > li > .carousel-1 {
    top:0;
    width:100%;
    text-align:center;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    visibility:hidden !important;
    opacity:0;
    transition:opacity .5s, visibility .5s, margin-left .5s .5s;
    margin-left:120%;
}
.tab-box-1 > .body > ul > li.active > .carousel-1 {
    visibility:visible !important;
    opacity:1;
    transition:opacity 0s, visibility 0s, margin-left .5s;
    margin-left:0;
}

.slider-box .item {
    padding:20px 30px;
    cursor:pointer;
    margin:10px 20px;
    transition: 0.3s;
    margin-top:10px;
    flex-direction:column;
    align-items:center;
    border-radius:20px;
   
}
.slider-box .item:hover{
    box-shadow: 1px 2px 3px 5px #afafaf;
}
.slider-box .owl-item > .item > .img-box {
    transition:transform 0.3s;
}
.slider-box .owl-item:hover > .item > .img-box {
    transform:scale(1.2)
}
.slider-box .owl-item > .item > .img-box > img{
}

/* 캐러셀1 */
.carousel-1 .owl-nav > div {
    padding:0 !important;
    margin:0 20px !important;
    border-radius:0 !important;
    background-color:transparent !important;
    position:absolute;
    top:50%;
    left:-70px;
    transform:translateY(-50%);
}
.carousel-1 .owl-nav > div.owl-next {
    left:auto;
    right:-70px;
}
.body .carousel-1 .owl-carousel {
    margin-top:100px;
}
.tab-box-1 .body .carousel-1 .main-name {
    margin-top:30px;
    font-size:18px;
    font-weight:bold;
    color:black;
}
.tab-box-1 .body .carousel-1 .name {
    font-size:18px;
    opacity:1;
    margin-top:20px;
    color:black;
    font-weight:500
}

.tab-box-1 .body .carousel-1 .name  > span{
    color:#FF2C2C;
    font-weight:bold;
}

.slider-box .owl-theme .owl-nav .disabled {
    opacity:1 
}
.left-btn {
    position:absolute;
    top:25%;
    left:-12%;
    background-image:url(http://subway.co.kr/images/news/icon_event_slider_arr.png);
    width:50px;
    height:50px;
    cursor:pointer;
}
.right-btn {
    position:absolute;
    top:25%;
    right:-10%;
    background-image:url(http://subway.co.kr/images/news/icon_event_slider_arr.png);
    width:50px;
    height:50px;
    background-position:50px 0;
    cursor:pointer;
    margin-left:auto;
}

.slider-box .item > .name {
    white-space:nowrap;
}
.slider-box .item {
    position:relative;
}



/* 중간박스-2 */



.middle-box-2 {
    background-color:#F9F3D9; 
}

.middle-box-2 > .middle-title-2{
    flex-direction:column;
    align-items:center;

}
.middle-box-2 > .middle-title-2 > nav{
    color:#0078AE;
    font-size:35px;
    line-height:50px;
}
.middle-box-2 > .middle-title-2 > nav:first-child{
    margin-top:50px;
}
.middle-box-2 > .middle-title-2 > nav > span{
    font-weight:bold;
}
.middle-box-2 > .middle-title-2 > nav:last-child{
    font-size:23px;
}
.middle-box-2 > .delivery-list-box > ul{
    justify-content:center;
}
.middle-box-2 > .delivery-list-box > ul > li{
    align-items:center;
    margin:0 50px;
    margin-top:30px;
    position:relative;
    padding:20px;
    flex-direction: column;
    cursor: pointer;
}
.middle-box-2 > .delivery-list-box > ul > li > .img-box-1{
    height: 20vh;
    width: 10vw;
    position: relative;
    opacity: 1;
}
.middle-box-2 > .delivery-list-box > ul > li:hover > .img-box-1{
    transition: opacity 0.3s;
    opacity: 0;
}
.middle-box-2 > .delivery-list-box > ul > li > .img-box-1 > .img-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}
.middle-box-2 > .delivery-list-box > ul > li > .img-box-2{
    position:absolute;
    top:10%;
    left: 10%;
    height: 20vh;
    width: 10vw;
    opacity: 0;
    transition: opacity 0.3s;
} 
.middle-box-2 > .delivery-list-box > ul > li:hover > .img-box-2{
    opacity: 1;
}
.middle-box-2 > .delivery-list-box > ul > li:first-child > .img-box-2{
    left: 16%;
}
.middle-box-2 > .delivery-list-box > ul > li > .img-box-2 > .img-2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}


.middle-box-2 > .delivery-list-box > ul > li > ul{
    flex-direction: column;
    align-items: center
}
.middle-box-2 > .delivery-list-box > ul > li > ul > li{
    padding: 10px 0;
}
.middle-box-2 > .delivery-list-box > ul > li > ul > li:first-child{
    font-size:25px;
    font-weight: bold;
}



/* 중단박스-3 */

.middle-bar-3{
    margin-top:50px;
    padding:50px 0;
    background-color:#dfdfdf;
}
.middle-bar-3 > .middle-box-3{
    height:100%;
    align-items:center;
    justify-content:space-evenly;
}
.middle-bar-3 > .middle-box-3 > .domino-youtube-box > .youtube{
    margin:0 10px;
}
.middle-bar-3 .domino-ebant-box{
    align-items:center;
}
.middle-bar-3 .domino-ebant-box > ul{
    flex-direction:column;
    align-items:center;
    margin-right:30px;
    font-size:20px;
}
.middle-bar-3 .domino-ebant-box > ul > li{
    padding:3px 0;
}
.middle-bar-3 .domino-ebant-box > ul > li:nth-child(2){
    font-size:30px;
    color:#0078AE;
    font-weight:bold;
}
.middle-bar-3 .domino-ebant-box > ul > li:last-child > a{
    border-radius:30px;
    background-color:black;
    color:white;
    padding:10px  20px;
    display:block;
}


.my-slider-2{
    width:15vw;
}
.my-slider-2 .item {
    height:30vh;
    border-radius:0 50px 0 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    cursor:pointer;
}
/* contain */
.my-slider-2 .meddil-silder-box .owl-dots  {
    position:absolute;
    top:5%;
    right:2%;
}

.my-slider-2 .meddil-silder-box .owl-dots .owl-dot span{
    background-color: #D6D6D6;
}

.my-slider-2 .meddil-silder-box .owl-dots .owl-dot.active span {
    transition: width 0.3s, background 0.3s;
    width:30px;
    background-color:#FF4D4D;
}

/* 하단 박스 */

.foot-bar-1{
    margin-top:50px;
    padding-bottom:80px;
}

.foot-bar-1 > .foot-box-1 > .foot-title-1{
    font-size:35px;
    font-weight:500;
    justify-content:center;
}
.foot-bar-1 > .foot-box-1 > .domino-news-box{
    margin-top:30px;
}
.foot-bar-1 .domino-news-1{
    background-color:#49ADCE;
     width:100%;
    margin:0 20px;
}
.foot-bar-1 .domino-news-2{
    background-color:#FDAD00;
    width:100%;
    margin:0 20px;
}
.foot-bar-1 .news-a > ul{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    width:100%;
     position:relative;
}
.foot-bar-1 .news-a > ul > li:first-child{
    font-size:25px;
    font-weight:bold;
}
.foot-bar-1 .news-a > ul > li:not(:first-child){
    font-size:18px;
    font-weight:300;
}
.foot-bar-1 .news-a > ul > li:nth-child(2){
    margin-top:20px;
}
.foot-bar-1 .news-a > ul > li:last-child{
    position:absolute;
    bottom:0;
    right:5%;
    font-weight:bold;
}

.foot-bar-2{
    border-top:1px solid #afafaf;
}
.foot-bar-2 > .foot-box-2 > .foot-under-top{
    justify-content:space-between;
}

.foot-bar-2 .sns-link-box >  ul{
    font-size:25px;
    
}

.foot-bar-2 .sns-link-box >  ul > li{
    margin:0 10px;  
}

.foot-bar-2 .language-box{
    align-items:center;
}
.foot-bar-2 .language-box > ul > li {
    position:relative;
}
.foot-bar-2 .language-box > ul > li  > .kor-1{
    padding-right:150px;
    color:gray;
    border-bottom:1px solid #afafaf;
}
.foot-bar-2 .language-box > ul > li > ul{
    position:absolute;
    top:100%;
    display:none;
    flex-direction:column;
    background-color:white;
    border:1px solid #dfdfdf;
}
.foot-bar-2 .language-box > ul > li > ul > li{
    padding-right:165px;
    color:gray;
}

.foot-bar-2 .language-box > ul > li > ul > li:hover{
    background-color:skyblue; 
}
.foot-bar-2 .language-box > ul > li.active > ul{
    display:flex;
}
.foot-bar-2 .app-box{
    justify-content:flex-end;
}
.foot-bar-2 .app-box > ul{
    align-items:center;
}
.foot-bar-2 .app-box > ul > li{
    padding:0 10px;
}
.foot-bar-2 .app-box > ul > li:not(:first-child){
    font-size:25px;
}
.numbar-1{
    font-size:20px;
}
.information-box > ul{
    margin-top:30px;
    color:gray;
}

.information-box > ul > li{
    margin:0 20px;
}
.information-box > ul > li:nth-child(2){
    font-weight:bold;
    color:black;
}
.information-box-2{
    margin-top:40px;
    color:gray;
   font-size:13px;
}
.information-box-2 > ul{
    flex-direction:column;
    align-items:center;
}
.information-box-2 > ul > li{
    padding:5px 0;
}
.information-box-2 > ul > li:nth-child(3) > span{
    margin:0 100px;
}
.information-box-2 > ul > li:last-child{
    margin-top:45px;
}


.foot-information-box{
    margin-top:50px;
    background-color:#f5f5f5;
    padding:30px 0;
}
.foot-information-box > ul {
    justify-content:center;
}
.foot-information-box > ul > li{
    font-size:12px;
    margin:0 10px;
    color:gray;
}
.foot-information-box > ul > li > img{
    margin:0 10px;
}