.main-bar{
    border: 2px solid black;
    margin-top:50px;
    position: relative;
    padding: 20px 0;
}
.main-bar > .img-box{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.img-box-me{
    width: 300px;
    height: 300px;
}
.main-box{
    justify-content: center;
}
.main-txt-bar > ul{
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}
.main-txt-bar > ul > li{
    font-size: 17px;
    padding: 10px 0 ;
    font-weight: bold;
}