.main-box{
    margin-top: 50px;
}
.aboutme-btn{
    margin-top:100px;
}
.profile-box{
    margin:100px 0;
    width: 100%;
    position: relative;
    justify-content: center;
}
.profile-box > .img-box{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.profile-box  > .profile-img{
    height: 30vh;
    width: 22%;
    position: relative;
}
.profile-box  > .profile-img > .img-box{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.profile-box > .introduction-box{
    margin-top:1px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
}
.profile-box > .introduction-box > ul {
    margin-top:20px;
}
.profile-box > .introduction-box > ul > li{
    padding: 5px;
}

.profile-box > .introduction-box > ul > li:nth-child(4) > a:hover{
    text-decoration: underline;
}
.profile-box > .introduction-box > ul > li:nth-child(5) > a:hover{
    text-decoration: underline;
}
