/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.height-100p {
  height:100%;
}

.height-50p {
  height:50%;
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-column-nowrap {
  display:flex;
  flex-flow:column nowrap;
}

* > .flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-end {
  display:flex;
  justify-content:flex-end;
}

* > .flex-ai-c {
  display:flex;
  align-items:center;
}

* > .flex-row-nowrap {
  flex-direction:row;
  flex-wrap:nowrap;
}

* > .flex-ch-basis-0 {
  display:flex;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}

/* 커스텀 */
.con-min-width {
  min-width:1356px;
}

.con {
  max-width:1356px;
}

/* 탑 바 시작 */
.top-bar {
    text-align: center;
    border-bottom: 1px solid #afafaf;
}
.top-bar > .menu-box-1 >.logo-box{
  align-items: center;
  font-weight: bold;
  color:#DEB887;
  font-size: 20px;
  margin-right: 50px;
}
.top-bar > .menu-box-1 > ul{
  align-items: center;
}
.top-bar > .menu-box-1 > ul > li{
    position: relative;
}
.top-bar > .menu-box-1 > ul > li > a{
    justify-content: center;
    transition: background-color 0.3s;
    font-weight: bold;
    padding:20px 0;
    font-size: 18px;    
    height: 100%;
}
.top-bar > .menu-box-1 > ul > li:hover > a{
    background-color:rgb(15, 1, 53);
    color: #ffd097
}
.top-bar > .menu-box-1 > ul > li > ul{
  visibility: hidden;
    position:absolute;
    top:100%;
    width: 98.9%;
    height:0;
    padding: 20px 0;
    transition: height 0.3s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:2px solid rgb(15, 1, 53);
    z-index: 1;
}
.top-bar > .menu-box-1 > ul > li:hover > ul{
  visibility: visible;
    height:100%;
    border-top:0;
    background-color: white;
}
.top-bar > .menu-box-1 > ul > li > ul > li{
  justify-content: center;
  padding: 5px 0;
}
.top-bar > .menu-box-1 > ul > li > ul > li > a{
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}
.top-bar > .menu-box-1 > ul > li > ul > li:hover > a{
  color: 	#ffd097
}
@media (max-width:750px){
  .top-bar{
    display: none;
  }
}
/* 탑 바 끝 */

/* 모바일 사이드 바 시작 */
@media (max-width:750px){
  html.active, body.active{
    overflow-y: hidden;
  }
}

/* 모바일 사이드 바 (토클 아이콘)시작 */

.mobile-top-bar{
  position: fixed;
  top:0;
  left:0;
  right:0;
  display: none;
  background-color: rgb(79, 184, 216);
  padding:10px;
}
.mobile-top-bar > .logo-box{
  position:absolute;
  top:0;
  right: 20px;
}
.btn-toggle-mobile-side-bar{
  width:30px;
  height:30px;
  position:relative;
}
.btn-toggle-mobile-side-bar > div{
  position:absolute;
  top:0;
  left:0;
  background-color:white;
  width:100%;
  height:10%;
  transition: top 0.2s 0.2s, transform 0.2s, opacity 0.2s 0s, background-color 0.3s;
}
.btn-toggle-mobile-side-bar:hover > div{
  background-color: #ffd097;
}
.btn-toggle-mobile-side-bar > div:nth-child(2){
  top:30%;
}
.btn-toggle-mobile-side-bar > div:nth-child(3){
  top:60%;
}

.btn-toggle-mobile-side-bar.active > div{
  top:40%;
  transition: top 0.2s, transform 0.2s 0.2s, opacity 0.2s 0s;
}
.btn-toggle-mobile-side-bar.active > div:nth-child(1){
  transform:rotate(45deg);
}
.btn-toggle-mobile-side-bar.active  > div:nth-child(3){
  transform:rotate(-45deg);
}
.btn-toggle-mobile-side-bar.active  > div:nth-child(2){
 opacity:0;
}

@media (max-width:750px){
  .mobile-top-bar{
    display: block;
  }
}
/* 모바일 사이드 바 (토클 아이콘)끝 */

/* 모바일 사이드 바 (메뉴바)시작 */
.mobile-side-menu-bar-bg{
  position: fixed;
  top:50px;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.3s;
}
.mobile-side-menu-bar-bg.active{
  visibility: visible;
  background-color: rgba(0,0,0,0.5);
}
.mobile-side-menu-bar{
  position:fixed;
  top:50px;
  left:-100%;
  width:100%;
  background-color:rgb(49, 117, 138);
  justify-content: center;
  transition: left 0.3s;
  flex-direction: column;
  z-index: 2;
}
.mobile-side-menu-bar.active{
  left: 0;
}
.mobile-side-menu-bar > ul{
flex-direction: column;
align-items: center;
}
.mobile-side-menu-bar > ul > li{
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #afafaf;
}
.mobile-side-menu-bar > ul > li > a{
 padding: 10px 23px;
 transition: 0.3s;
}
.mobile-side-menu-bar > ul > li:first-child > a{
  color: #ddac6b;
  font-size: 25px;
}
.mobile-side-menu-bar > ul > li:hover > a{
 background-color: rgba(0,0,0,0.3);
}
.mobile-side-menu-bar > ul > li > ul{
  flex-direction: column;
  align-items: center;
  background-color: rgb(79, 184, 216);
  overflow-y: hidden;
  height: 0;
}
.mobile-side-menu-bar > ul > li.active > ul{
  height: 100%;
  overflow-y: visible;
}
.mobile-side-menu-bar > ul > li > ul > li{
  font-size: 15px;
  width: 100%;
  justify-content: center;
}
.mobile-side-menu-bar > ul > li > ul > li > a{
  transition: background-color 0.3s;
  width: 100%;
  height: 100%;
  padding:20px 0;
}
.mobile-side-menu-bar > ul > li > ul > li:hover > a{
  background-color: rgba(0,0,0,0.3);
}
@media (min-width:800px) {
  .visible-sm-down {
      display: none;
  }
}

/* 모바일 사이드 바 (메뉴바)끝*/

/* 모바일 사이드 바 끝 */


.main-bar{
  border-top:1px solid #afafaf;
}
.main-box {
  margin-top:100px; 
}
.main-txt-bar{
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;

}
.avatar-img{
  width: 120px;
  height: 120px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}