.list-detail-1{
    margin-top:50px;
}
.list-detail-1 > .title-box > .date-box{
    margin-top:30px;
    flex-direction: column;
    align-items: flex-end;
}
.list-detail-1 > .title-box  > .Writer{
   font-size: 18px;
   font-weight: bold;
}
.list-detail-1 > .title-box{
    border-bottom: 1px solid black;
}
.list-detail-1 > .content-box{
    margin-top:30px;
   flex-direction: column;
   align-items: center;
}