html, body{
    position: relative;
    height: 70%;
}
.slider-bar{
    height: 100%;
    position: relative;
    user-select:none;
}
.slider-bar .side-bar > div{
    position: absolute;
    top:0;
    left:0;
    width:calc(50% - 500px);
    cursor: pointer;
    height: 100%;
    align-items: center;
}
.slider-bar .side-bar > div> span{
    transition: 0.3s;
    font-size: 2rem;
    margin:0 20px;
    color: white;
}
.slider-bar .side-bar > div:active > span{
    margin-top:10px;
}
.slider-bar .side-bar > div:last-child{
    right: 0;
    left: auto;
}
.slider-bar > .slider-box-1 > div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
  
}
.slider-bar > .slider-box-1 > div.active{
    opacity:1;
    
}
@media (max-width:750px){
    .slider-bar{
        
    }
}
.btn-txt-bar{
    width: 100%;
    height:100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.171);
}
.btn-txt-box{
    align-items: center;
}
.btn-txt-1{
    font-size: 30px;
    font-weight: bold;
    color: white;
}  
@media(max-width:750px){
    .btn-txt-1{
        font-size: 23px;
    } 
} 
@media(max-width:400px){
    .btn-txt-1{
        font-size: 20px;
    } 
} 


.main-bar{
    border-top: 1px solid black;
    align-items:center;
    font-size: 17px;
    font-weight: bold;

}
.main-bar > .detailed-box-1{
    width: 274px;
    height: 100%;
    padding-top:40px;
}
.main-bar > .detailed-box-1 > .profile-box{
    margin:0 auto;
    width: 200px;
    height: 310px;
    border: 3px solid black;
}
.main-bar > .detailed-box-1 > .profile-box > ul{
    margin-top:20px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.main-bar > .detailed-box-1 > .profile-box > ul  > li:last-child{
    margin-left: auto;
    margin-right: 10px;
    margin-top:10px; 
}
.main-bar > .detailed-box-1 > .profile-box > ul  > li:hover > a{
    color: burlywood;
}
.main-bar > .detailed-box-1 > .profile-box > .img-box{
    margin: 0 auto;
    margin-top:20px;
    width: 120px;
    height: 120px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}



.list-box-1 {
    margin-left: 0;
    margin-top:20px;
    flex-direction: column;
}
.list-box-1 > .list-txt{
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    margin-top:30px;
}
.list-box-1 > .img-box-1 {
    justify-content: center;
    margin-top:30px;
}
.list-box-1 > .img-box-1 > ul{
    width: 100%;
}
.list-box-1 > .img-box-1 > ul > li {
    width: 100%;
    margin: 0 20px;
    flex-direction: column;
}
.list-box-1 > .img-box-1 > ul > li > a > .img-1{
    height: 300px;
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.list-box-1 > .img-box-1 > ul > li > a > .img-1::after{
    content: "";
    position: absolute;
    display: block;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.0);
    transition: background-color 0.3s;
}
.list-box-1 > .img-box-1 > ul > li:hover > a > .img-1::after{
    background-color: rgba(0,0,0,0.5);
}
.list-box-1 > .img-box-1 > ul > li > a > .img-1::before{
    content: "MORE";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
    font-weight: bold;
}
.list-box-1 > .img-box-1 > ul > li:hover > a > .img-1::before{
    opacity: 1;
}
.list-box-1 > .img-box-1 > ul > li > ul{
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
}
.list-box-1 > .img-box-1 > ul > li > ul > li{
    padding:10px 0;
}
@media(max-width:850px){
    .main-bar{
        display: none;
    }
}

/* 인기글및 대표포트폴리로  박스 */

.portfolio-sm-bar{
    border-top:0;
    margin-top:50px;
}