
.main-list-bar{
    margin-top:70px;
}
.main-list-box > .cate-list-lnke {
    margin-top:50px;
    justify-content: space-around;
}
.main-list-box > .cate-list-lnke > ul{
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
}
.main-list-box > .cate-list-lnke > ul > li{
    padding: 10px 0;
}
.main-list-box > .cate-list-lnke > ul > li > a{
    padding:0 5px;
}
.main-list-box > .cate-list-lnke > ul > li:hover > a{
    text-decoration: underline;
}
.main-list-box > .cate-list-lnke > ul > li:first-child{
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}
.main-list-box > .cate-list-lnke > .list-box{
    position: relative;
    border: 1px solid black;
    width: 1000px;
    flex-direction: column;
    text-align: center;

}
.main-list-box > .cate-list-lnke > .list-box > .lists-1{
    border-bottom: 1px solid black;
    padding: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}