
.portfolio-bar{
    margin-top:50px;
}

.portfolio-bar> .portfolio-box  > .portfolio-img-box-1  {
    flex-direction: column;
    align-items: center;
   
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul{
    margin-top:50px;
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li{
    padding: 80px;
    text-align: center;
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li > a{
    height: 400px;
    width: 400px;
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li > a >.img-box{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1 > ul > li > a > .img-box::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color:rgba(0,0,0,0);
    transition: background-color 0.3s;
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li:hover> a > .img-box::after{
    background-color:rgba(19, 10, 10, 0.3);
}
.portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li > a > .img-box::before{
    position: absolute;
    content: "MORE >";
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.portfolio-bar> .portfolio-box  > .portfolio-img-box-1  >ul > li:hover > a > .img-box::before{
    visibility: visible;
    opacity: 1;
}
@media(max-width:600px){
    .portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul{
        flex-direction: column;
    }
}
@media(max-width:800px){
    .portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul{
       margin: 80px;
    }
}
@media(max-width:800px){
    .portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li{
       padding: 10px;
    }
}
@media(max-width:1030px){
    .portfolio-bar > .portfolio-box  > .portfolio-img-box-1  >ul > li > a{
        width: 200px;
        height: 200px;
        margin-top:120px;
    }
}
