/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.con {
  margin-left: auto;
  margin-right: auto;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0 > * {
  line-height: normal;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.text-align-center {
  text-align: center;
}

.img-box > img {
  display: block;
  width: 100%;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
/* 커스텀 */
.con {
  width: 1100px;
}
.con-1{
    margin: 0 auto;
}
.box-1{
    border:3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 탑 바 메뉴 박스1 */
.top-bar{
   min-width:1100px;
}
body{
    overflow-x:hidden;
}
.top-bar > .menu-box-1 > ul > li > div{
    position:absolute;
    background-color:#009aa5;
    left:0;
    right:0;
    color:white;
    transition: height 0.3s;
    height:0;
    overflow:hidden;
}
.top-bar > .menu-box-1  ul > li:hover > div{
    overflow:visible;
   height:60px;
}
.top-bar > .menu-box-1 > ul > li > div > div > ul{
    margin-left:300px;
}
.top-bar > .menu-box-1 > ul > li > div > div > ul > li > a{
    padding:16px 25px;
    border-bottom:3px solid transparent;
    transition: 0.3s;
}
.top-bar > .menu-box-1 > ul > li > div > div > ul > li:hover > a{
    border-bottom-color: white;
}
.top-bar > .menu-box-1 > ul > li > a {
  padding:36px 30px;
  transition: 0.2s;
}
.top-bar > .menu-box-1 > ul > li:hover > a{
    color: #009aa5;
}
.icon-1{
    position:absolute;
    top:0;
    margin-left:130px;
    margin-top:-15px;
    color:#009aa5;
}
.last-box {
    margin-top:36px;
    margin-right:100px;
}
.point-box{
    margin-left:30px;
    margin-top:-30px;
}
.point-box > .point-1{
    color:#009aa5;
    font-size:12px;
}
.point-box > .point-2 {
    margin-left:20px;
    border:2px solid #eee; 
    border-radius:10px;
    padding:7px 10px;
    transition: 0.2s;
    font-size:12px;
}
.point-box > .point-2:hover{
    border:2px solid #009aa5;
    color: #009aa5;
}

/* 탑 바 배너박스1  */
.top-bn-box-1 {
    width: 100%;
    height: 745px;
    background: url(http://www.icounseling.co.kr/images/bg_main_section_0.jpg)  0 no-repeat;
    background-position:center;

}
.top-bn-box-1 > .top-bn-box-2{
    width:1100px;
    height:100%;
    margin:0 auto;   
}
.top-bn-box-1 > .top-bn-box-2 > .top-bn-text-box{
    position:absolute;
}
.top-bn-box-1 > .top-bn-box-2 > .top-bn-text-box >.top-bn-text{
    font-size:45px;
    margin-top:200px;
} 
.top-bn-box-1 > .top-bn-box-2 >.top-bn-text-box >.top-bn-text > .bottom-button{
    font-size: 17px;
    margin-top:50px;
    background-color:#009aa5;
    color:white;
    border-radius:5px;
    transition: 0.3s;
    padding:20px;
    border:1px solid #009aa5;
    display:inline-block;
}
.top-bn-box-1 > .top-bn-box-2 > .top-bn-text-box >.top-bn-text > .bottom-button:hover {
    border:1px solid #009aa5;
    color:#009aa5;
    background-color: transparent;
}
/* 탑 바 박스  */

.top-box-1{
      overflow:hidden;
    margin-top:-6px;
     background-color:#f9f3e4;
     width: 100%;
}
.bottom-img {
    height:500px;
}
.senter{
    width:1100px;
    height:100%;
    position:relative;
    margin:0 auto;
}
.font-box{
    font-size:20px;
}
.font-box > span{
    font-weight:bold;
}
.top-box-1 > .bottom-img > .senter > ul{
    text-align:center;
}
.top-box-1 > .bottom-img > .senter >ul > li{
    display:inline-block;
    width:305px;
    margin-top:130px;
}

/* 미들 바 박스1 */
.middle-bar-1{
    width:1100px;
}
.middle-bar-1 > .middle-box {
    position:relative;
    margin-left:-35%;
    overflow-x: hidden;
}
.middle-bar-1 > .middle-box > .font-bar {
    position: absolute;
    top: 30%;
    right:0;
}
.middle-bar-1 > .middle-box > .font-bar > .font-box-1 {
    font-size: 18px;
}
.middle-bar-1 > .middle-box > .font-bar > .font-box-2 {
    font-size: 40px;
    color: #009aa5;
    font-weight: 300;
}

/* 미들 바 박스2 */

.middle-bar-2 {
    height: 846px;
    background-color: #f9f3e4;
    text-align: center;
    padding:90px 0;
    min-width:1100px;
}
.middle-bar-2 > .img-box-2 > .h2-box {
    font-size: 20px;
    margin-top:-30px;
}
.middle-bar-2 > .img-box-2 > .last-font-1 {
    font-size: 18px;
}
.middle-img-box-1 {
    margin-top: 55px;
    text-align: center
}
.middle-img-box-1 > ul > li {
    width: 283px;
    height: 450px;
    display: inline-block;
    margin-top: 5px;
    padding: 0 25px;
}
.middle-img-box-1 > ul > li > a {
    padding:15px 0;
    height: 100%;
    background-color: #fff;
    border-radius: 142px;
    display: block;
    transition: 0.2s;
}
.middle-img-box-1 > ul > li > a:hover {
    background-color: #009aa5;
}
.middle-img-box-1 > ul > li > a > .text-1 {
    margin-top: 15px;
    font-weight: 450;
}
.middle-img-box-1 > ul > li > a:hover > .text-1 {
    color: white;
}
.middle-img-box-1 > ul > li > a > .icon-plus {
    margin-top: 80px;
    font-weight: 450;
    font-size: 35px;
    color: #009aa5;
}
.middle-img-box-1 > ul > li > a:hover > .icon-plus {
    color: white;
}
/* 바텀 바 박스1 */
.bottom-bar{
  padding: 90px 0;
    min-width: 1100px;
    height: 700px;
    text-align: center;
    overflow:hidden;
}
.bottom-bar > .bottom-box-1 > .bottom-box-1-1{
    position:relative;
    margin-top:-1300px;
    font-size:20px;
}
.circle >.circle-bar >.circle-box{
    width:235px;
    height:235px;
    border-radius:50%;
    background-color:#009aa5;
    background-image:url(http://www.icounseling.co.kr/images/bg_main_section_4_0.png);
    background-repeat:no-repeat;
    background-position:center 50px;
    line-height:120px;
    margin-left:35px;
    margin-top:50px;
}
.circle > ul > li .mini-circle{
    width:80px;
    height:80px;
    background-color:#f9f3e4;
    border-radius:50%;
    margin-left:160px;
    font-size:17px;
    line-height:75px;
    color:#94705d;
    font-weight:700
}
.circle-box > .text-box{
    line-height:1.5;
    font-size:15px;
    margin-top:40px;
}
.circle-box >.text-box > h4{
    font-weight:500;
    color:#009aa5;
    font-size:18px;
}
.circle > ul > li> i{
    width:35px;
    position:absolute;
    margin-left:118px;
    top:220px;
    height:200px;
    font-size:40px;
    color:#dfdfdf;
}

/* 바텀 바 박스2*/
.bottom-bar-2{
    background-color:#f9f3e4;
    min-width: 1100px;
    height: 700px;
   text-align:center;
    padding: 50px 0;
}
.bottom-img-bar-1{
    width:380px;
    height:520px;
    margin-top:50px;
   display:inline-block; 

}
.bottom-img-bar{
    width:950px;
    height:650px;
    display:inline-block;
    
}
.bottom-img-bar-1 > .bottom-img-box-1{
    background-color:white;
    height:500px;
    width:348px;
    display:inline-block;
    border-radius:10px;
    margin:10px; 
   transition: 0.5s;
}
.bottom-img-bar-1 > .bottom-img-box-1:hover{
     box-shadow: 3px 3px 8px 5px #afafaf;

}
.txt-1{
    font-size:15px;
    line-height:1.7;
    padding:20px;
    margin-top:-30px;
}
.bottom-img-bar-1  .txt-box > a,.bottom-img-bar-2  .txt-box > a{
    width:80px;
    height:40px;
    border-radius:30px;
    background-color:#009aa5;
    display:inline-block;
    font-size:15px;
    line-height:38px;
    color:white;
    margin-left:230px;
}
.bottom-img-box-1 > .txt-box > .img-box{
    overflow:hidden;
}
.bottom-img-box-1:hover > .txt-box > .img-box > img{
    transform:scale(1.2,1.2);
}
.bottom-img-bar-2 {
    width:380px;
    height:280px;
    float:right;
    margin-top:50px;
    margin-right:40px;
}
.bottom-img-bar-2 >.bottom-img-box-2{
    background-color:white;
    height:250px;
    width:348px;
    border:1px solid white;
    border-radius:10px;
    margin:auto;
    margin-top:10px;
    transition: 0.3s;
}
.bottom-img-bar-2 >.bottom-img-box-2:hover{
     box-shadow: 3px 3px 8px 5px #afafaf;
}


/* 바텀 링크 박스 */

.link-bar-1{
    min-width: 1100px;
    height:400px;
     text-align: center; 
}
.link-bar-1 > .link-bar-2{
    width:550px;
    height:200px;
    display:inline-block;
    margin-top:160px;
}
.link-bar-1 > .link-bar-2 > .link-box-1 > .link-1{
    margin-top:30px;
}
.link-bar-1 > .link-bar-2 > .link-box-1 > .txt-box-1 > a{
    padding:0 20px;
    font-weight:300;    
}