/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box > img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0 > * {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row > .cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
* > .flex {
    display: flex;
}

* > .flex-grow-1 {
    flex-grow: 1;
}

* > .flex-jc-end {
    justify-content: flex-end;
}

* > .flex-ai-c {
    display: flex;
    align-items: center;
}

* > .flex-column-nowrap {
    flex-flow: column nowrap;
}

* > .flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-ch-basis-0 > * {
    flex-basis: 0;
}

* > .flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con-min-width {
    min-width: 1356px;
}

.con {
    max-width: 1890px;
}
body {
    overflow-x: hidden;
}
.top-mneu-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.top-mneu-bar > .menu-box {
    justify-content: space-between;
    align-items: center;
}
.top-mneu-bar > .menu-box > ul {
    align-items: center;
}
.top-mneu-bar > .menu-box > ul > li {
    position: relative;
    color: white;
}
.top-mneu-bar > .menu-box > ul > li > a {
    padding: 30px 55px;
    font-size: 18px;
    font-weight: bold;
}
.top-mneu-bar > .menu-box > ul > li:hover > a {
    background-color: #f47e3a;
}
.top-mneu-bar > .menu-box > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #f47e3a;
    align-items: center;
    height: 0;
    overflow: hidden;
}
.top-mneu-bar > .menu-box > ul > li:hover:first-child > ul {
    height: 27vh;
}
.top-mneu-bar > .menu-box > ul > li:hover > ul {
    transition: height 0.2s;
    overflow: visible;
    height: 23vh;
}
.top-mneu-bar > .menu-box > ul > li > ul > li {
    font-size: 13px;
    width: 100%;
    text-align: center;
}
.top-mneu-bar > .menu-box > ul > li > ul > li:first-child {
    margin-top: 20px;
}
.top-mneu-bar > .menu-box > ul > li > ul > li > a {
    display: block;
    padding: 10px 0;
}
.top-mneu-bar > .menu-box > .language-box {
    align-items: center;
}
.top-mneu-bar > .menu-box > .language-box > ul > li {
    padding: 10px;
    color: white;
    font-size: 13px;
}
.top-mneu-bar > .menu-box > .language-box > ul > li:nth-child(2) > a,
.top-mneu-bar > .menu-box > .language-box > ul > li:nth-child(3) > a,
.top-mneu-bar > .menu-box > .language-box > ul > li:nth-child(4) > a {
    color: gray;
    transition: 0.3s;
    
}
.top-mneu-bar > .menu-box > .language-box > ul > li:nth-child(2) > a:hover,
.top-mneu-bar > .menu-box > .language-box > ul > li:nth-child(3) > a:hover,
.top-mneu-bar > .menu-box > .language-box > ul > li:nth-child(4) > a:hover {
    color: white;
}
.top-mneu-bar > .menu-box > .language-box > ul > li:last-child {
    font-size: 15px;
}

.slider-k {
    user-select: none;
    position: relative;
    overflow: hidden;
}
 .side-btns {
    height: 99%;
    flex-direction: column;
    justify-content: center; 
    
}
 .side-btns > .dot-box {
    margin: 100px;
    height: 100%;
    align-items: flex-end;
    margin-left:115px;
    border: 1px solid #afafaf;
    z-index: 2;
}
 .side-btns > .dot-box > div {
    cursor: pointer;
    height: 13%;
    width: 6%;
     border-top:1px solid #afafaf;
    border-right:1px solid #afafaf;
    justify-content: center;
    align-items: center;

}
.slider-k .side-btns > .dot-box > div:last-child {
    left: auto;
    right: 0;
}
.slider-k.height-full {
    height: 100%;
}

.slider-k .slides > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s, visibility 3s, transform 4s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1.2);
    color: white;
    transition: transform 4s;
}

.slider-k .slides > div.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
}

.slider-k .slides > div > .slider-txt{
    position: absolute;
    top:15%;
    left: 10%;
    height:70%;
    width:80%;
    flex-direction:column;
    justify-content:center; 
    z-index: 2;  
}

.slider-k .slides > div > .slider-txt > ul{
    flex-direction:column;
    margin-left:50px;
    opacity:0;
    visibility:hidden;
    transition:0.3s;
}
.slider-k .slides > div.active  > .slider-txt > ul{
    transition:0.3s;
    visibility:visible;
    opacity:1;
}
.slider-k .slides > div > .slider-txt > ul > li:first-child {
    margin-left: -100px;
    font-size: 35px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 4s, margin-left 3s;
}
.slider-k .slides > div.active > .slider-txt > ul > li:first-child {
    transition: opacity 4s, margin-left 2s;
    overflow: visible;
    opacity: 1;
    margin-left: 0;
}
.slider-k .slides > div > .slider-txt > ul > li:nth-child(2) {
    font-size: 70px;
    font-weight: bold;
    margin-left: -100px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 4s, margin-left 3s;
}
.slider-k .slides > div.active > .slider-txt > ul > li:nth-child(2) {
    transition: opacity 4s, margin-left 2s;
    overflow: visible;
    opacity: 1;
    margin-left: 0;
}
.slider-k .slides > div > .slider-txt > ul > li:nth-child(3) {
    font-size: 25px;
    margin-left: -150px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 3s, margin-left 3s;
}
.slider-k .slides > div.active > .slider-txt > ul > li:nth-child(3) {
    transition: opacity 3s, margin-left 2s;
    overflow: visible;
    opacity: 1;
    margin-left: 0;
}
.slider-k .slides > div > .slider-txt > ul > li:nth-child(4) {
     margin-left: -200px;
        opacity: 0;
    overflow: hidden;
    transition: opacity 3s, margin-left 3.5s;
}
.slider-k .slides > div.active > .slider-txt > ul > li:nth-child(4) {
        transition: opacity 3s, margin-left 2.5s;
    overflow: visible;
    opacity: 1;
    margin-left: 0;
}
.slider-k .slides > div > .slider-txt > ul > li:last-child {
     margin-left: -350px;
        opacity: 0;
    overflow: hidden;
    transition: opacity 3s, margin-left 4s;
}
.slider-k .slides > div.active > .slider-txt > ul > li:last-child {
        transition: opacity 3s, margin-left 3s;
    overflow: visible;
    opacity: 1;
    margin-left: 0;
}
.txt-box{
    margin-top:30px;
}
.txt-box > .txt-1 > span{
    position:relative;
    display:inline-block;
    font-size:13px;
    cursor:pointer;
}
.txt-box > .txt-1 > span::after{
    content:"";
    position:absolute;
    top:0;
    left:auto;
    right:0;
    width:10px;
    height:90%;
    border-top:2px solid white;
    border-bottom:2px solid white;
    transition: all 0.3s;
}
.txt-box > .txt-1 > span::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:auto;
    width:10px;
    height:90%;
    border-top:2px solid white;
    border-bottom:2px solid white;
    transition: 0.3s;
    z-index:1;
}
.txt-box:hover > .txt-1 > span::after{
    width: calc(50% + 11px);
}
.txt-box:hover > .txt-1 > span::before{
    width: calc(50% + 11px);
}
.txt-box > .txt-1 > span > div{
    position:relative;
    padding:15px 40px;
    border-top:2px solid #a5a2a288;
    border-bottom:2px solid #a5a2a288;
}
.txt-box > .txt-1 > span > div::after{
    content:"";
    position:absolute;
    top:0;
    left:auto;
    right:0;
    width:10px;
    height:100%;
    box-sizing:border-box;
    border-right:2px solid white
}
.txt-box > .txt-1 > span > div::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:auto;
    width:10px;
    height:100%;
    box-sizing:border-box;
    border-left:2px solid white;
}




.slider-k .page-nav {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    text-align: center;
}

.slider-k .page-nav > div {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: opacity 0.5s;
    margin: 0 2px;
    cursor: pointer;
    margin: 20px 0;
}

.slider-k .page-nav > div.active {
    background-color: orange;
}

.height-100vh {
    height: 100vh;
}

.slider-k1 .page-nav {
    width: auto;
    top: 45%;
    left: 2%;
    right: auto;
    bottom: auto;
}

.slider-k1 .page-nav > div {
    display: block;
}


/* 팝업 1 시작 */
.popup-box-type-a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  visibility:hidden;
  transition: background-color 0.5s;
    z-index:2;
}

.popup-box-type-a > .popup {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  width:50%;
  background-color:white;
}
.popup-box-type-a > .popup > .head{
    background-color:gray;
    justify-content:center;
    align-items:center;
    padding:10px;
}
.popup-box-type-a > .popup > .head > .btn-title{   
    margin:0 auto;
    font-size:20px;
    font-weight:bold;
    color:white;
}
.popup-box-type-a > .popup > .head > .btn-close {
    cursor:pointer;
    font-size:25px;
    color:white;
}
.popup-box-type-a > .popup > .body{
    padding:10px;
}
.popup-box-type-a > .popup > .body > ul{
    justify-content:space-evenly;
    text-align:center;
}
.popup-box-type-a > .popup > .body > ul > li{
    width:100%;
    margin:0 10px;  
}
.popup-box-type-a > .popup > .body > ul > li > a{
    border-bottom:1px solid gray;
    display:block;
    padding:20px 0;
    font-weight:bold;
    font-size:15px;
}
.popup-box-type-a > .popup > .body > ul > li > ul{
    margin-top:10px;
}
.popup-box-type-a > .popup > .body > ul > li > ul > li > a{
    display:block;
    padding:10px 0;
    font-size:13px;
}
.popup-box-type-a > .popup > .body > ul > li > ul > li:hover > a{
    text-decoration:underline;
}
html.popup-1-active .popup-box-1 {
  visibility:visible;
  background-color:rgba(0,0,0,0.5);
}

html.popup-1-active, html.popup-1-active > body {
  overflow:hidden;
}
/* 팝업 1 끝 */


.side-txt-box{
  position:fixed;
  top:38%;
  right: 0;
  color: white;
  text-align: center;
}
.side-txt-box > ul > li{
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
.side-txt-box > ul > li > a{
  padding:10px 35px;
  width: 100%;
  padding-top:15px;
}
.side-txt-box > ul > li:first-child{
  background-color: #ed8942;
}
.side-txt-box > ul > li:nth-child(2){
  background-color: #d76046;
}
.side-txt-box > ul > li:last-child{
  background-color: #b93b3e;
}
.side-txt-box > ul > li > .txt{
  font-size: 13px;
}
.side-txt-box > ul > li > .txt{
  width: 100%;
  display: block;
}
.side-txt-box > ul > li > .txt > a{
  width: 100%;
  display: block;
  padding-bottom: 20px;
}
