/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


html {
  font-family: 'Roboto', sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.height-100p {
  height:100%;
}

.height-50p {
  height:50%;
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-column-nowrap {
  display:flex;
  flex-flow:column nowrap;
}

* > .flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-end {
  display:flex;
  justify-content:flex-end;
}

* > .flex-ai-c {
  display:flex;
  align-items:center;
}

* > .flex-row-nowrap {
  flex-direction:row;
  flex-wrap:nowrap;
}

* > .flex-ch-basis-0 {
  display:flex;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}
.flex-co-al-ct{
  flex-direction: column;
  align-items: center;
}
.con{
  margin:0 auto;
}
.font-snw{
  font-size: 20px;
  font-weight: bold;
}

/* 커스텀 */
.con-min-width {
  min-width:1356px;
}

.con {
  max-width:1356px;
}

/* 탑 메뉴바 */

body{
  overflow-x: hidden;
}


.top-bar {
  z-index: 2;
  position: relative;
  height: 100px;

}
.top-bar > .menu-bar {
  justify-content: center;
  position: relative;
  background-color: black;
  position: fixed;
  width: 100%;
}
 .logo-box {
  height: 100px;
  width: 100px;
}
.logo-box > .img-box{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.top-bar > .menu-bar > .menu-box-1{
  width: 100%;
  justify-content:space-between;
}
.top-bar > .menu-bar > .menu-box-1 > ul{
  width: 50%;
  align-items: center;
  padding: 0 50px;
  justify-content: space-around;
}

.top-bar > .menu-bar > .menu-box-1 > ul > li{
  color: white;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li > a{
  padding: 40px 25px;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li > ul{
  position: absolute;
  top:100%;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 1;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: none;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li:nth-child(2) > ul > li{
  margin-right: 50px;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li:hover > ul{
  display: flex;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li > ul > .icon-1{
  position: absolute;
  top:-10%;
  left: 32.6%;
  font-size: 40px;
  color: #333;
 
}
.top-bar > .menu-bar > .menu-box-1 > ul > li > ul > .icon-2{
  position: absolute;
  top:-20%;
  left: 39.3%;
  font-size: 40px;
  color: #333;
}
.top-bar > .menu-bar > .menu-box-1 > ul > li > ul > li{
  flex-direction: column;
  margin-top:20px;
  margin-left: 35px;
}
.top-bar > .menu-bar > .menu-box-1 > ul  ul ul{
  font-size: 15px;
  color: rgb(180, 179, 179);

}
.top-bar > .menu-bar > .menu-box-1 > ul  ul ul > li{
  margin:15px 0;
}
.top-bar > .menu-bar > .menu-box-1 > ul  ul ul > li > a{
  transition: 0.3s;
}
.top-bar > .menu-bar > .menu-box-1 > ul  ul ul > li:hover > a{
  color: white;
}

.icon-1{
  float:right;
  font-size:22px;
  z-index: 1;

  align-items: center;
  position:relative;
}
.icon-1 > .login-menu-box > ul > li{
  color:white;
  text-align: center;
  margin:0 20px ;
}

.icon-1 > .login-menu-box > ul > li > ul{
  position:absolute;
  background-color:white;
  color:#333333;
  font-size:11px;
  right: 10%;
  width:100%;
  top:75%; 
  display: none;
}
.icon-1 > .login-menu-box > ul > li:hover > ul{
  display:block;
}

.icon-1 > .login-menu-box > ul > li > ul > li{
  transition: 0.2s;
  justify-content: center;
  padding:20px;
}
.icon-1 > .login-menu-box > ul > li > ul > li:hover{
  background-color:black;
  color:white;
}
.icon-1 > .login-menu-box > ul > li > ul > li:not(:last-child){
  border-bottom:0.5px solid #dfdfdf;
}
.icon-1 > .login-menu-box > ul > li >.icon > .fa-caret-up{
  position:absolute;
  font-size:35px;
  color:white;
  right:11%;
  top:52%;
  display: none;
}
.icon-1 > .login-menu-box > ul > li:hover >.icon > .fa-caret-up{
  display:block;
}

/* 슬라이드 박스 */


html, body{
  height: 80%;
  width: 100%;
}

.slider-bar{
  height: 100%;
  position: relative;
  user-select:none;
}
.slider-bar > .dots-box{
  position: absolute;
  top:36%;
  left:82%;
  cursor: pointer;
  height: 100%; 
}
.slider-bar > .dots-box > div{
  transition: 0.3s;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 15px 0;
}
.slider-bar > .dots-box > div.active{
  background-color:white;
}
.slider-bar > .slider > div{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-bar > .slider > div.active{
  opacity:1;
}


/* 중간박스 */

.slider-box{
  position:relative;
}
.my-slider-1{
 width:70%;
  margin:0;
}
.my-slider-1 .item {
height:30vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
  padding:20px 0;
}
.my-slider-1 .item > .img-box{
height:100%;
width:100%;
background-repeat:no-repeat;
background-size:contain;
background-position:center;
}
.commodity-box{
font-weight:bold;
text-align:center;
flex-direction:column;
}

.information-box{
  height:70vh;
  width:30vh;
  display:flex;
  position:absolute;
  right:0;
  bottom:0;
}
.information-box > .img-box{
   height:100%;
  width:100%;
  background-repeat:no-repeat;
background-size:contain;
background-position:center;
}




.middle-bar-1{
  width:100%;
  margin-top:130px;
  height:auto;
  min-width:1000px;
  display:block;
  padding-right:280px;
}
.main-wrap-1{
  margin-top:50px;
  display:block;
}
.img-list-1 > a > img{
  display:block;
}
.main-wrap-2{
  min-width:1000px;
  margin-top:80px;
   position:relative; 
}
.main-wrap-2 > .img-box-3{
  padding:150px  10px;
}
.main-wrap-2 > .img-box-3 > .txt-1{
     font-size:40px;
  font-weight:550;  
  margin-left:20px;
}
.main-wrap-2 > .img-box-3 > .txt-2{
  font-size:15px;
  margin-top:15px;
  font-weight:300;
} 
.main-wrap-2 > .img-box-3 > .img-gif{
  position:absolute;
  right:200px;
  top:0px;
}
