/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 2px;
    word-break: keep-all;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    justify-content: flex-end;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-column-nowrap {
    flex-flow: column nowrap;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

.flex-jc {
    justify-content: center;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

/* 커스텀 */
.con-min-width {
    min-width: 1300px;
}

.con {
    max-width: 1300px;
}

.con-1 {
    max-width: 900px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    background-color: #FCF1DB;
}

canvas {
    position: absolute;
    top: 0;
    background-color: #FFDF4C;
    height: 60vh;
    width: 100%;
    z-index: -1;
}

/* 스크롤바 변경 */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #FFDF4C;
    border-radius: 10px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: #A08C38;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 16px;
    height: 16px;
    background: rgb(252, 239, 184);
}


/* 사이드바 보류용 */

/* .side-page-box-1{
    position: absolute;
    left: -500px;
    z-index: 3;
    transition: left 0.5s
}
.side-page-box-1.active{
    left: 0;
}
.side-page-box-1 > .side-box-1 > .page-menu-box{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.side-bottom-img-1{
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 10px;
   flex-direction: column;
   justify-content: space-between;
   height: 96%;
}
.side-page-box-1 > .side-box-1 > .page-menu-box > ul{
    margin-top:-50px;
    font-family: 'Balsamiq Sans', cursive;
    flex-direction: column;
}
.side-page-box-1 > .side-box-1 > .page-menu-box > ul > li{
    margin: 30px 0;
    font-size:30px;
    font-weight: 400;
    
}
.side-page-box-1 > .side-box-1 > .page-menu-box > ul > li > a{
    position: relative;
}
.side-page-box-1 > .side-box-1 > .page-menu-box > ul > li > a::after{
    content: "";
    position: absolute;
    top:100%;
    left: 0;
    width:0;
    height: 10%;
    background-color:#FCB830;
    transition: 0.5s;
}
.side-page-box-1 > .side-box-1 > .page-menu-box > ul > li:hover > a::after{
    width: 100%;
} */

/* 사이드바 보류용 */


/* 메인 박스  */

.main-txt {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;

}

.main-box {
    height: 100vh;
    border-bottom: 1px solid black;
}

.main-box>.logo-box {
    position: absolute;
    top: 7%;
    width: 100%;
    justify-content: center;
    z-index: 1;
}


.main-txt>.item-box-2 {
    position: absolute;
    bottom: 2%;
    left: 48%;
    cursor: pointer;
}

.main-bottom-txt {
    position: absolute;
    bottom: 2%;
    right: 3%;
    font-size: 25px;
    font-weight: bold;
}

.main-txt>.txt-1 {
    position: absolute;
    top: 35%;
    left: -50%;
    flex-direction: column;
    transition: left 2s;
}

.main-txt>.txt-1.active {
    left: 33%;
}

.main-txt>.txt-1>ul {
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 90px;
    font-weight: bold;
    line-height: 65px;
}

.main-txt>.txt-1>ul.btn-txt-1>li:first-child {
    margin: 0 20px;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 2s 0.5s, margin 2.5s;
}

.main-txt>.txt-1.active>ul.btn-txt-1>li:first-child {
    margin-left: 0;
    opacity: 1;
}

.main-txt>.txt-1>ul.btn-txt-1>li:last-child {
    opacity: 0;
    transition: opacity 4s 3s;
}

.main-txt>.txt-1.active>ul.btn-txt-1>li:last-child {
    opacity: 1;
}

.main-txt>.txt-1>ul.btn-txt-2>li {
    margin: 0 20px;
}

.main-txt>.txt-1>ul.btn-txt-2>li:first-child {
    margin-left: -300px;
    opacity: 0;
    transition: opacity 3s 1s, margin 3s 2s;
}

.main-txt>.txt-1.active>ul.btn-txt-2>li:first-child {
    margin-left: 0;
    opacity: 1;
}

.main-txt>.txt-1>ul.btn-txt-2>li:last-child {
    margin-left: -200px;
    opacity: 0;
    transition: opacity 2s 0.5s, margin 2.5s 0.5s;
}

.main-txt>.txt-1.active>ul.btn-txt-2>li:last-child {
    margin-left: 0;
    opacity: 1;
}

.side-bottom-img-1>.clors-icon {
    cursor: pointer;
}


/* .side-page-box-bg{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0,0,0,0.0);
}

.side-page-box-bg.active{
    visibility: visible;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  } */

/* 메인 패이지 매뉴바 */

.page-menu-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #FFDF4C;
}

.page-menu-bar>.page-menu-box {
    justify-content: center;
}

.page-menu-bar>.page-menu-box>ul {
    width: 100%;
    justify-content: space-around;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
    padding: 5px 0;
}

.page-menu-bar>.page-menu-box>ul>li {
    position: relative;
    cursor: pointer;
}

.page-menu-bar>.page-menu-box>ul>li::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translatex(-50%);
    width: 0;
    height: 10%;
    background-color: rgb(255, 153, 0);
    transition: width 0.5s;
}

.page-menu-bar>.page-menu-box>ul>li:hover::after {
    width: 100%;
}


/* 2번쨰 패이지 바 */

.about-bar-1 {
    z-index: 1;
    padding: 60px 0;
    position: relative;
    background-color: white;
    border-bottom: 1px solid black;
}

.about-bar-1 .about-title-box {
    justify-content: center;
    z-index: 5;
}

.about-bar-1 .about-title-box>.about-title-1 {
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 50px;
}

.about-bar-1 .about-title-box>.about-title-1>span {
    margin: 0 15px;
    position: relative;
}

.about-bar-1 .about-title-box>.about-title-1>span::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 45%;
    transform: translatex(-50%);
    width: 50%;
    height: 8%;
    background-color: #FCB830;
}


/* 새번째 패이지 바 */

.profile-box {
    margin-top: 180px;
    justify-content: space-around;
}

.profile-box>.img-box-1 {
    position: relative;
    z-index: 1;
}

.profile-box>.img-box-1>img {
    background-color: #FCB830;

}

.img-box-background {
    position: absolute;
    top: 100px;
    left: -100px;
    width: 290px;
    height: 290px;
    border: 3px solid #FCB830;
    z-index: -1;

}

.profile-txt-box>.profile-title-1 {
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    margin-left: 25px;
}

.profile-txt-box>.profile-title-1>span {
    margin: 0 10px;
}

.profile-txt-box>.box-1>ul {
    margin-top: 20px;
}

.profile-txt-box>.box-1>ul>li {
    padding: 5px 0;
}

.profile-txt-box>.box-1>ul.profile-txt-1>li {
    font-weight: bold;
    font-size: 20px;
}

.profile-txt-box>.box-1>ul.profile-txt-2>li {
    padding: 6px 0;
    margin-left: 20px;
    font-size: 18px
}


/* 3번째패이지 중간 스킬박스 */

.skill-button {
    justify-content: center;
    margin-top: 50px;
}

.skill-button>span {
    border: 2px solid #FCB830;
    padding: 5px 60px;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    cursor: pointer;
}

.skill-button>span:hover {
    color: white;
}

.skill-button>span::after {
    content: "";
    position: absolute;
    top: -80%;
    left: -200px;
    height: 10vh;
    width: 100%;
    background-color: #FCB830;
    transform: rotate(20deg);
    transition: 1s;
    z-index: -1;
}

.skill-button>span:hover::after {
    left: -1%;
}




.skill-box-1 {
    background-color: white;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
}

.skill-box-1>.skill-title-1 {
    margin-top: 100px;
    align-items: center;
    font-size: 30px;
    font-family: 'Balsamiq Sans', cursive;

}

.skill-box-1>.skill-title-1>span {
    margin: 0 10px;
    position: relative;
}

.skill-box-1>.skill-title-1>span::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translatex(-50%);
    width: 50%;
    height: 10%;
    background-color: #FCB830;
}



.skill-list-tile-box {
    margin-top: 80px;
    width: 100%;

}

.skill-list-tile-box>ul {
    font-size: 25px;
    justify-content: space-around;
}

.skill-list-tile-box>ul>li {
    justify-content: center;
    width: 100% ;
}

.skill-list-box {
    width: 100%;
}

.skill-list-box>ul {
    justify-content: space-around;
}

.skill-list-box>ul>li {
    height: 150px;
    width: 150px;
    border: 20px solid rgb(248, 224, 177);
    border-radius: 50%;
    margin-top: 30px;
    justify-content: center;
    position: relative;
}

.skill-list-box>ul>li>.info-num {
    align-items: center;
    font-size: 20px;
}

.skill-description-box-1 {
    margin-top: 50px;
    width: 100%;
}

.skill-description-box-1>ul.description-item-1 {
    flex-direction: column;
}

.skill-description-box-1>ul.description-item-1>li {
    margin: 8px 0;
    position: relative;
    z-index: 1;
}

.skill-description-box-1>ul.description-item-1>li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 5%;
    top: 100%;
    height: 5%;
    width: 100%;
    transform: rotate(90deg);
    background-color: #FCB830;
    z-index: -1;
}

.skill-description-box-1>ul.description-txte-1 {
    flex-direction: column;
    font-size: 18px;
    justify-content: space-around;
    margin-left: 20px;

}

.skill-description-box-1>ul.description-txte-1  > li > span{
    font-weight: bold;
}


.info-num::after {
    content: "%";
    display: inline-block;
}

/* 네번째 패이지 바 */

.portfolio-box-1 {
    background-color: white;
    height: 100vh;
    border-bottom:1px solid black;
}


.portfolio-box-1>.portfolio-title-1 {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Balsamiq Sans', cursive;
}

.portfolio-box-1>.portfolio-title-1>span {
    margin: 0 10px;
    position: relative;
}

.portfolio-box-1>.portfolio-title-1>span::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translatex(-50%);
    width: 50%;
    height: 10%;
    background-color: #FCB830;
}

.my-slider-1 {
    position: relative;
    max-width: 1000px;
    margin-left: 200px;
    margin-top: 100px;
}

.my-slider-1 .item {
    font-size: 2rem;
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.my-slider-1 .item>.img-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.back {
    position: absolute;
    top: 40%;
    left: -5%;
    color: black;
    font-size: 50px;
}

.next {
    position: absolute;
    top: 40%;
    right:-5%;
    color: black;
    font-size: 50px;
}



.text-box>.silder-text-box {
    position: absolute;
    top: 0;
    right:-50%;
    border:2px solid black;
    background-color: white;
    border-radius: 30px;
    width: 40%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity 0.7s, visibility 0.7s;
    box-sizing: border-box;
    overflow: hidden;
}

.text-box>.silder-text-box.active {
    visibility: visible;
    opacity: 1;
}

.text-box>.silder-text-box>ul {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    font-weight: 500;
    position: relative;
    
}
.text-box>.silder-text-box>ul>li:last-child{
    position: absolute;
    top:37%;
}
.text-box>.silder-text-box>ul>li:first-child {
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.text-box>.silder-text-box>ul>li:first-child>span {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text-box>.silder-text-box>ul>li:first-child>span > a{
    transition: 0.3s;
    font-weight: bold;
}
.text-box>.silder-text-box>ul>li:first-child>span > a:hover{
    text-decoration: underline;
}
.text-box>.silder-text-box>ul>li:nth-child(3) {
    margin-top: 20px;
}

.text-box>.silder-text-box>ul>li:nth-child(3)>a {
    border: 2px solid #FCB830;
    padding: 5px 50px;
    border-radius: 20px;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}
.text-box>.silder-text-box>ul>li:nth-child(3):hover>a{
    color:white;
}



.text-box>.silder-text-box>ul>li:nth-child(3)>a::after {
    content: "";
    position: absolute;
    top: -80%;
    left: -200px;
    height: 10vh;
    width: 100%;
    background-color: #FCB830;
    transform: rotate(20deg);
    transition: left 1s;
    z-index: -1;
}

.text-box>.silder-text-box>ul>li:nth-child(3):hover>a::after {
    left: 0;
}
/* 업 버튼 */
.page-top-button{
    position:fixed;
    right: 1%;
    bottom: 5%;
    z-index: 2;
    cursor: pointer;
}
.page-top-button > .img-button-box{
    position: relative;
}
.page-top-button > span{
    position: absolute;
    top:46%;
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
}

/* 업 버튼 */


/* 다섯번째 패이지바 */

.design-bar{
    background-color: white;
    height: 100vh;
}
.design-bar > .design-title-box{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top:50px;
    font-family: 'Balsamiq Sans', cursive;
}
.design-bar > .design-title-box > span{
    margin:0 10px;
    position: relative;
}
.design-bar > .design-title-box > span::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translatex(-50%);
    width: 50%;
    height: 10%;
    background-color: #FCB830;
}



.slider-bottom-box{
    margin-top:50px;
    height:75vh;
    width: 50vw;
  }
  .slider-bottom-box > .slider-box-b{
      background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    height:100%;
    width:100%;
  }
  .slider-bottom-box .item {
    margin-top:130px;
    height:48vh;
    font-size:15rem;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 1;
  }
  .slider-bottom-box .item > .img-box{
    height:100%;
    width:100%;
      background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
  }




  .left-item-1 {
    position: absolute;
    top: 45%;
    left: -5%;
    color: black;
    font-size: 50px;
}

.right-item-1 {
    position: absolute;
    top: 45%;
    right:-5%;
    color: black;
    font-size: 50px;
}

.media-bar{
    height: 80vh;
}


.media-bar > .media-title-box{
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top:50px;
    font-family: 'Balsamiq Sans', cursive;
}
.media-bar > .media-title-box > span{
    margin:0 10px;
}
.media-bar > .media-title-box > span::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translatex(-50%);
    width: 50%;
    height: 10%;
    background-color: #FCB830;
}


.email-box-1{
    margin-top:50px;
    flex-direction:column;
    align-items:center;
    
}
input{
   width:100%;
    font-size:15px;
     padding-bottom:20px;
    border:2px solid black;
    margin:10px 0;
    font-weight:bold;
     border-radius:7px;
}
textarea{
    width:100%;
    font-size:15px;
    padding-bottom:100px;
     margin:10px 0;
    border:2px solid black;
    font-weight:500;
     border-radius:7px;
}

.email-box-1 > .your-name-box-1{
    width:100%;
    flex-direction:column;
    
}
.email-box-1 > .your-email-box-1{
   width:100%;
    flex-direction:column;
}
.email-box-1 > .content-input-box-1{
   width:100%;
    flex-direction:column;
}
.email-box-1 > .content-input-box-1 > .content-input-1{
    align-items:center;
}
.email-box-1 > .transfer-box-1{
    width:30%;
    flex-direction:column;
    align-items:center;
}
.email-box-1 > .transfer-box-1 > .transfer-1{
    margin-top:20px;
    font-size:15px;
    background-color:white;
    padding:10px 30px;
    border-radius:20px;
    cursor:pointer;
    box-shadow:0px 1px 3px 3px #dfdfdf;
}
.media-content-1{
    margin-top:20px;
}
.media-content-1 > ul{
    flex-direction: column;
    align-items: center;
}
.title-1{
    font-weight:bold;
}
.important-content-1{
    margin-top:40px;
    color:rgb(73, 73, 73);
    justify-content: center;
}