/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin-left:auto;
    margin-right:auto;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.row::after {
    content:"";
    display: block;
    clear:both;
}

.img-box > img {
    width:100%;
    display:block;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-wrap {
    flex-wrap:wrap;
}

* > .flex-column-nowrap {
  display:flex;
  flex-flow:column nowrap;
}

* > .flex-grow-1 {
  display:flex;
  flex-grow:1;
}

* > .flex-jc-end {
  display:flex;
  justify-content:flex-end;
}

* > .flex-ai-c {
  display:flex;
  align-items:center;
}

* > .flex-row-nowrap {
  flex-direction:row;
  flex-wrap:nowrap;
}

* > .flex-ch-basis-0 {
  display:flex;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

/* 커스텀 */
html, body {
    overflow-x:hidden;
}
.img-box{
    height: 935px;
}
.con {
    max-width:1200px;
}
.con-1{
    max-width:2079px;    
}


/* 메뉴바 */



@media(max-width:800px){
    .top-bar-img-2{
        display: none;
    }
}
@media(max-width:800px){
    .img-box-2{
        display: block;
    }
}
.back-1{
position: relative;
max-width:100%;
height: 100vh;
display: none;
    
}
.back-1 > .mobli-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:800px){
    .back-1{
        display: block;
    }
}

.top-menu-bar{
    height:70px;
    left:0;
    top:0;
    right: 0;
    position:fixed;
    justify-content:center;
    align-items:center;
    transition: background-color 0.3s;
    z-index: 2;
}
.mobail-logo-box{
   display: none;
   margin-top:20px;
}
@media(max-width:800px){
    .top-menu-bar{
        justify-content: flex-start;
        margin-left: 10px;
    }
}
@media(max-width:800px){
    .mobail-logo-box{
        display: flex;
    }
}
@media(max-width:800px){
    .logo-box{
        display: none;
    }
}
.top-menu-box-2 > ul{
    margin-right:50px;
     align-items:center;
}
.top-menu-box-2 > ul > li > a{
    display:block;
    padding:0 10px;
    color:white;
    font-weight:bold;
    transition: 0.3s;
}
.top-menu-box-2 > ul > li:hover > a{
    color:#c6a869;
}
.top-menu-box-2 > ul > li > a > i{
    color:white;
    transition: 0.3s;
}
.top-menu-box-2 > ul > li:hover > a > i{
    color:#c6a869;
}
.top-menu-box-2 > ul > li > ul{
    flex-direction:column;
     position:absolute;
    background-color:#02042f;
    margin-top:15px;
    padding:10px;
    margin-left:5px;
    visibility:hidden;
    opacity:0;
    transition: all 0.5s
}
.top-menu-box-2 > ul > li:hover > ul{
    visibility:visible;
    opacity:1;
}
.top-menu-box-2 > ul > li > ul > li {
    padding:3px 0;
}
.top-menu-box-2 > ul > li.child-5{
    margin-left:40px;
}
.top-menu-box-2 > ul > li > ul > li  > a{
    color:white;
    font-weight:500;
    transition: all 0.3s;
    font-size:14px;
}

.top-menu-box-2 > ul > li > ul > li:hover > a{
    color:#c6a869;
}
.top-menu-box-2 > ul > li > ul > li::after{
   content:"　　　　";
}
.top-menu-box-2 > ul > li > ul > i{
    font-size:25px;
    position:absolute;
    top:-15px;
    color:#02042f;
}

.top-menu-box-2 {
    align-items:center;
}
.top-menu-box-2 > .link-box{
    padding:8px 20px;
    color:white;
    transition: 0.4s;
     border-radius:20px;
}
.top-menu-box-2 > .link-box:hover{ 
background-color:blue;
}
.main-txt-box{
    top:300px;
}
.main-txt-box > ul.main-txt-1 > li{
    font-size:50px;
    color:white;
    font-weight:500;
}
.main-txt-box > ul > li:last-child{
    font-size: 40px;
    display: none;
    z-index: 1;
}
@media(max-width:800px){
    .main-txt-box > ul > li:first-child{
        display: none;
    }
}
@media(max-width:800px){
    .main-txt-box > ul > li:last-child{
        display: block;
    }
}



/* 팝업 1 시작 */
.popup-box-type-a {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  visibility:hidden;
  transition: background-color 0.5s;
  z-index: 1;
}

.popup-box-type-a > .popup {
  position:absolute;
  width: 70%;
  height: 70%;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

@media(max-width:800px){
    .popup-box-type-a > .popup{
        height: 30%;
    }
}

.popup-a {
  position:absolute;
  top:2%;
  left:97%;
  text-align:center;
}
.popuop-txt{
    font-size:20px;
    color:#afafaf;
}
.popuop-txt:hover{
    color:white;
}
.popup-box-type-a > .popup > .head {
  padding:20px 20px 0 20px;
}

.popup-box-type-a > .popup > .body {
    padding:20px;
    width: 100%;
    height: 100%;
}

html.popup-1-active .popup-box-1 {
  visibility:visible;
  background-color:rgba(0,0,0,0.5);
}

html.popup-2-active .popup-box-2 {
  visibility:visible;
  background-color:rgba(0,0,0,0.5);
}
.btn-show-box-1{
    font-size:18px;
    color:white;
    font-weight:bold;
    margin-left:0;

}
/* 중간 박스 */


.middle-bar-1{
    margin-top:1000px;
}
.middle-box-a{
 z-index:-1;
}
.sky-img-1{
    position:absolute;
    bottom:0;
    right:0;
    display:block;   
}
.middle-box-1 > .middle-box-2{
    flex-direction:column;       
}
.middle-box-2 {
    position: relative;
    padding: 50px 0;
}
.middle-txt-box > .txt-1{
    border-bottom:1px solid black;
    font-size:25px;
    padding-bottom:15px;
}
.txt-box-3 > .img-box-5{
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100%;
}
.txt-box-3 > .img-box-5 > .sky-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-txt-box-2 > ul{
    margin-top:40px;
    margin-left: 10px;
}
.middle-txt-box-2 > ul > li{
    background-color:#105bd4;
    padding:10px;
}
.middle-txt-box-2 > ul > li > a{
    color:white;
    font-weight:500;
}
.middle-txt-box-2 > ul > li:not(:first-child){
    margin-left:10px;
}

@media(max-width:800px){
    .img-box-5{
       display: none;
    }
}

@media(max-width:800px){
    .middle-box-1{
        margin:0 10px;
    }
}
@media(max-width:800px){
    .middle-txt-box{
        justify-content: center
    }
}

@media(max-width:800px){
    .middle-txt-box-2{
       flex-direction: column;
    }
}

@media(max-width:800px){
    .middle-txt-box-2 > ul > li{
        width: 100%;
    }
}


@media(max-width:800px){
    .middle-bar-1{
        margin: 0;
    }
}







/* 미들박스-2 */



.middle-bar-2{
    margin-top:130px;
}
.middle-box-3{
    padding-top:0;
    flex-direction: column; 
}
.middle-box-4 > ul{
    margin-top:0px;
}
.middle-box-4 > ul > li{
    padding: 0 30px;
}
.middle-box-4 > ul  ul > li{
    padding: 5px 0;
}
.middle-box-4 > ul  ul > li:first-child{
    font-weight: bold;
}
.middle-box-4 > ul  ul > li:first-child > a{
    transition: 0.3s;
}
.middle-box-4 > ul  ul > li:hover:first-child > a{
    color: #007bff;
}
.middle-box-4 > ul > li > .middle-img-box-1 {
    margin-top:30px;
    height: 300px;
    width: 100%;
}
.middle-box-4 > ul > li > .middle-img-box-1 > .middle-img-1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-box-4 > ul > li:nth-child(2){
    margin-top:-50px;
}
.middle-box-4 > ul > li:nth-child(3){
    margin-top:40px;
}
.middle-box-4 > ul > li:nth-child(4){
    margin-top:-70px;
}

@media(max-width:800px){
    .middle-box-4 > ul > li:nth-child(2){
        margin-top:0px;
    }
}
@media(max-width:800px){
    .middle-box-4 > ul > li:nth-child(3){
        margin-top:0px;
    }
}
@media(max-width:800px){
    .middle-box-4 > ul > li:nth-child(4){
        margin-top:0px;
    }
}
@media(max-width:800px){
    .middle-box-3 {
       align-items: center;
    }
}
@media(max-width:800px){
    .middle-box-4 > ul {
       flex-direction: column;
       align-items: center;
    }
}



/* 하단 박스*/


.botton-bar-1{
    margin-top:100px;
}

.botton-txt-box > .txt-1{
    border-bottom:2px solid black;
    padding-bottom:20px;
}
.botton-box-1 > .botton-txt-box-2{
    color:#8484a4;
    font-size:15px;
}
.botton-img-box{
    margin-top:50px;
    text-align: center;
    background-color: red;
    flex-direction: column;
}
.botton-img-box > ul{
    background-color: gold;
    padding: 50px;
}
.botton-img-box > ul > li {
}

.botton-img-box  > ul > li > .botton-img-box-1 {
    height:170px;
    width:170px;
    border: 3px solid blue;
}
.botton-img-box > ul > li > .botton-img-box-1 > .botton-img-1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}










.botton-img-box > ul > li > ul{
    margin-top:20px;
}
.botton-img-box > ul > li > ul > li > a{
    transition: 0.3s;
}
.botton-img-box > ul > li > ul > li:hover > a {
    color:#007bff;
}

.botton-bar-2{
    margin-top:100px;
    background-color:#393f7d;
    padding:70px 0;
}
.botton-img-box-1{
    padding-right:50px;
}















.link-bar-1 >.bottom-log-box{
    justify-content:center;
}
.link-bar-1 > ul{
    justify-content:center;
    padding-bottom:70px;
}
.link-bar-1 > ul > li{
    font-size:25px;
    padding:0 10px;
}
.link-bar-1 > ul > li > a{
    background-color:#47494c;
    border-radius:50%;
    padding:0 8px;
    color:white;
    transition: 0.3s;
}
.link-bar-1 > ul > li:hover > a{
    background-color:#007bff;
}
.link-bar-1 > .bottom-link-box {
    padding-bottom:20px;
}
.link-bar-1 > .bottom-link-box > ul{
    justify-content:center;
}
.link-bar-1 > .bottom-link-box > ul > li > a{
    position:relative;
    padding:0 20px;
}
.link-bar-1 > .bottom-link-box > ul > li:first-child> a::after{
   content:"";
  top:50%;
  left:100%;
  position:absolute;
  width:1px;
  height:10px;
  background-color:black;
  transform:translateY(-50%);
}
.botton-link-bar > .botton-lest-box{
    position:relative;
}
.link-bar-1 > span{
    justify-content:center;
    font-weight:300;
    
}