/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin-left:auto;
    margin-right:auto;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.row::after {
    content:"";
    display: block;
    clear:both;
}

.img-box > img {
    width:100%;
    display:block;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-wrap {
    flex-wrap:wrap;
}

* > .flex-column-nowrap {
  display:flex;
  flex-flow:column nowrap;
}

* > .flex-grow-1 {
  display:flex;
  flex-grow:1;
}

* > .flex-jc-end {
  display:flex;
  justify-content:flex-end;
}

* > .flex-ai-c {
  display:flex;
  align-items:center;
}

* > .flex-row-nowrap {
  flex-direction:row;
  flex-wrap:nowrap;
}

* > .flex-ch-basis-0 {
  display:flex;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

/* 커스텀 */
html, body {
    overflow-x:hidden;
}
.img-box{
    height: 935px;
}
.con {
    max-width:1200px;
}
.con-1{
    max-width:2079px;    
}


/* 메뉴바 */



@media(max-width:800px){
    .top-bar-img-2{
        display: none;
    }
}
@media(max-width:800px){
    .img-box-2{
        display: block;
    }
}
.back-1{
position: relative;
max-width:100%;
height: 100vh;
display: none;
z-index: -1;
    
}
.back-1 > .mobli-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:800px){
    .back-1{
        display: block;
    }
}

.top-menu-bar{
    height:70px;
    left:0;
    top:0;
    right: 0;
    position:fixed;
    justify-content:center;
    align-items:center;
    transition: background-color 0.3s;
    z-index: 1;
}
.mobail-logo-box{
    position: absolute;
    left: 20px;
   margin-top:20px;
   z-index: 3;
   display: none;
}
@media(max-width:800px){
    .top-menu-bar{
        justify-content: flex-start;
        margin-left: 10px;
        display: none;
    }
}
@media(max-width:800px){
    .mobail-logo-box{
        display: flex;
    }
}
@media(max-width:800px){
    .logo-box{
        display: none;
    }
}
.top-menu-box-2 > ul{
    margin-right:50px;
     align-items:center;
}
.top-menu-box-2 > ul > li > a{
    display:block;
    padding:0 10px;
    color:white;
    font-weight:bold;
    transition: 0.3s;
}
.top-menu-box-2 > ul > li:hover > a{
    color:#c6a869;
}
.top-menu-box-2 > ul > li > a > i{
    color:white;
    transition: 0.3s;
}
.top-menu-box-2 > ul > li:hover > a > i{
    color:#c6a869;
}
.top-menu-box-2 > ul > li > ul{
    flex-direction:column;
     position:absolute;
    background-color:#02042f;
    margin-top:15px;
    padding:10px;
    margin-left:5px;
    visibility:hidden;
    opacity:0;
    transition: all 0.5s
}
.top-menu-box-2 > ul > li:hover > ul{
    visibility:visible;
    opacity:1;
}
.top-menu-box-2 > ul > li > ul > li {
    padding:3px 0;
}
.top-menu-box-2 > ul > li.child-5{
    margin-left:40px;
}
.top-menu-box-2 > ul > li > ul > li  > a{
    color:white;
    font-weight:500;
    transition: all 0.3s;
    font-size:14px;
}

.top-menu-box-2 > ul > li > ul > li:hover > a{
    color:#c6a869;
}
.top-menu-box-2 > ul > li > ul > li::after{
   content:"　　　　";
}
.top-menu-box-2 > ul > li > ul > i{
    font-size:25px;
    position:absolute;
    top:-15px;
    color:#02042f;
}

.top-menu-box-2 {
    align-items:center;
}
.top-menu-box-2 > .link-box{
    padding:8px 20px;
    color:white;
    transition: 0.4s;
     border-radius:20px;
     cursor: pointer;
}
.top-menu-box-2 > .link-box:hover{ 
background-color:blue;
}
.main-txt-box{
    top:300px;
}
.main-txt-box > ul.main-txt-1 > li{
    font-size:50px;
    color:white;
    font-weight:500;
}
.main-txt-box > ul > li:last-child{
    font-size: 40px;
    display: none;
}
@media(max-width:800px){
    .main-txt-box > ul > li:first-child{
        display: none;
    }
}
@media(max-width:800px){
    .main-txt-box > ul > li:last-child{
        display: block;
    }
}




.mobile-top-bar{
    position: absolute;
    top:0;
    left:0;
    right:0;
    padding:10px;
    margin: 0 10px;
    display: none;
    height: 0;
    z-index: 2;
    transition: 0.3s;
  }
  .mobile-top-bar.active{
      height: 50px;
      background-color: #1b1e4b; 
  }
  .btn-toggle-mobile-side-bar{
      justify-content: flex-end;
      position: relative;
      z-index: 1;
  }
  .btn-toggle-mobile-side-bar > div{
      position:absolute;
      top:20px;
      right: 50px;
      color: white;
      font-size: 20px;
      z-index: 5;
  }
  
  @media (max-width:780px){
    .mobile-top-bar{
      display: block;
    }
  }
  /* 모바일 사이드 바 (토클 아이콘)끝 */
  
  /* 모바일 사이드 바 (메뉴바)시작 */
  .mobile-side-menu-bar{
    position: absolute;
    top:-100%;
    left:0;
    width:100%;
    display: none;
    background-color:black;
    justify-content: center;
    transition: top 0.3s;
    flex-direction: column;
    z-index: 1;
  }
  .mobile-side-menu-bar.active{
   top:0;
  } 
  .mobile-side-menu-bar > .mobile-menu-box {
      background-color:#1b1e4b; 
      margin:0 10px;    
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul{
      color: white;
      flex-direction: column;
      margin-top:80px;
      margin-left: 20px;
      width: 100%;

  }
  .mobile-side-menu-bar > .mobile-menu-box > ul > li{
      padding: 10px 0;
      font-size: 15px;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul > li >a{
      transition: 0.3s;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul > li:hover > a{
      color: #c6a869;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul > li > ul{
      flex-direction: column;
      background-color: #02042f;
      width: 100%;
      display: none;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul > li.active > ul{
      display: flex;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul ul > li{
      padding: 5px 0;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul ul > li > a{
      transition: 0.3s;
  }
  .mobile-side-menu-bar > .mobile-menu-box > ul ul > li:hover > a{
      color: #c6a869;
  }
  .mobile-side-menu-bar > .link-box{
      color: white;
      margin:0 30px; 
      padding:10px;
  }
  .mobile-side-menu-bar > .link-box > a{
      padding: 10px 0;
      font-size: 15px;
      transition: 0.3s;
      border-radius: 30px;
  }
  .mobile-side-menu-bar > .link-box > a:hover{
    background-color: #105bd4;
  }

  @media (max-width:780px){
    .mobile-side-menu-bar{
      display: block;
    }
  }




/* 팝업 1 시작 */
.popup-box-type-a {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  visibility:hidden;
  transition: background-color 0.5s;
  z-index: 1;
}

.popup-box-type-a > .popup {
  position:absolute;
  width: 70%;
  height: 70%;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

@media(max-width:800px){
    .popup-box-type-a > .popup{
        height: 35%;
        left: 45%;
    }
}

.popup-a {
  position:absolute;
  top:2%;
  left:97%;
  text-align:center;
}
.popuop-txt{
    font-size:20px;
    color:#afafaf;
}
.popuop-txt:hover{
    color:white;
}
.popup-box-type-a > .popup > .head {
  padding:20px 20px 0 20px;
}

.popup-box-type-a > .popup > .body {
    padding:20px;
    width: 100%;
    height: 100%;
}

html.popup-1-active .popup-box-1 {
  visibility:visible;
  background-color:rgba(0,0,0,0.5);
}

html.popup-2-active .popup-box-2 {
  visibility:visible;
  background-color:rgba(0,0,0,0.5);
}
.btn-show-box-1{
    font-size:18px;
    color:white;
    font-weight:bold;
    margin-left:0;
    cursor: pointer;
    z-index: 1  ;
}

.menu-bar{
    background-color: #007bff
}

/* 등장팝업 */

.popup-show-box-1 {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
     visibility:hidden;
    background-color:rgba(0,0,0,0.5);
    transition: background-color 0.5s;
    z-index: 2;
  }
  .popup-show-box-1.active {
      visibility:visible;
      background-color:rgba(0,0,0,0.5);
  }
  .popup-show-box-1 > .popup {
    position:absolute;
    top:50%;
    left:50%;
      visibility:hidden;
    transform:translateX(-50%) translateY(-50%);
    width:400px;
    background-color:white;
    z-index: 2;
  }
  
  .popup-show-box-1 > .popup.active {
      visibility:visible;
  }
  .popup-show-box-1 > .popup > .head > .btn-close {
    width:100%;
      height:5vh;
    cursor:pointer;
      align-items:center;
      justify-content:center;
      font-size:18px;
      color:#0738b3;
      font-weight:bold;
  }
  .popup-show-box-1 > .popup > .body{
      height:55vh;    
      z-index: 3;
  }
  .popup-show-box-1 > .popup > .body > .popup-img-box{
      width:100%;
      height:100%;
      background-position:center;
      background-repeat:no-repeat;
      background-size:cover;
      z-index: 5;
  }
  .popup-show-box-1 > .popup > .head > .btn-close:hover{
      background-color:#0738b3;
      color:white;
  }
  /* 팝업 1 끝 */
  


  @media(max-width:800px){
    .popup-show-box-1 > .popup{
        width: 300px;
    }
}

@media(max-width:800px){
    .popup-show-box-1 > .popup > .body{
        height: 40vh;
    }
}




/* 중간 박스 */


.middle-bar-1{
    margin-top:1000px;
}
.middle-box-a{
 z-index:-1;
}
.sky-img-1{
    position:absolute;
    bottom:0;
    right:0;
    display:block;   
}
.middle-box-1 > .middle-box-2{
    flex-direction:column;       
}
.middle-box-2 {
    position: relative;
    padding: 50px 0;
}
.middle-txt-box > .txt-1{
    border-bottom:1px solid black;
    font-size:25px;
    padding-bottom:15px;
}
.txt-box-3 > .img-box-5{
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100%;
}
.txt-box-3 > .img-box-5 > .sky-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-txt-box-2 > ul{
    margin-top:40px;
    margin-left: 10px;
}
.middle-txt-box-2 > ul > li{
    background-color:#105bd4;
    padding:10px;
}
.middle-txt-box-2 > ul > li > a{
    color:white;
    font-weight:500;
}
.middle-txt-box-2 > ul > li:not(:first-child){
    margin-left:10px;
}

@media(max-width:800px){
    .img-box-5{
       display: none;
    }
}

@media(max-width:800px){
    .middle-box-1{
        margin:0 10px;
    }
}
@media(max-width:800px){
    .middle-txt-box{
        justify-content: center
    }
}

@media(max-width:800px){
    .middle-txt-box-2{
       flex-direction: column;
    }
}

@media(max-width:800px){
    .middle-txt-box-2 > ul > li{
        width: 100%;
    }
}


@media(max-width:800px){
    .middle-bar-1{
        margin: 0;
    }
}







/* 미들박스-2 */



.middle-bar-2{
    margin-top:130px;
}
.middle-box-3{
    padding-top:0;
    flex-direction: column; 
}
.middle-box-4 > ul{
    margin-top:0px;
}
.middle-box-4 > ul > li{
    padding: 0 30px;
}
.middle-box-4 > ul  ul > li{
    padding: 5px 0;
}
.middle-box-4 > ul  ul > li:first-child{
    font-weight: bold;
}
.middle-box-4 > ul  ul > li:first-child > a{
    transition: 0.3s;
}
.middle-box-4 > ul  ul > li:hover:first-child > a{
    color: #007bff;
}
.middle-box-4 > ul > li > .middle-img-box-1 {
    margin-top:30px;
    height: 300px;
    width: 100%;
}
.middle-box-4 > ul > li > .middle-img-box-1 > .middle-img-1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-box-4 > ul > li:nth-child(2){
    margin-top:-50px;
}
.middle-box-4 > ul > li:nth-child(3){
    margin-top:40px;
}
.middle-box-4 > ul > li:nth-child(4){
    margin-top:-70px;
}

@media(max-width:800px){
    .middle-box-4 > ul > li:nth-child(2){
        margin-top:0px;
    }
}
@media(max-width:800px){
    .middle-box-4 > ul > li:nth-child(3){
        margin-top:0px;
    }
}
@media(max-width:800px){
    .middle-box-4 > ul > li:nth-child(4){
        margin-top:0px;
    }
}
@media(max-width:800px){
    .middle-box-3 {
       align-items: center;
    }
}
@media(max-width:800px){
    .middle-box-4 > ul {
       flex-direction: column;
       align-items: center;
    }
}



/* 하단 박스*/


.botton-bar-1{
    margin-top:100px;
}

.botton-txt-box > .txt-1{
    border-bottom:1px solid black;
    padding-bottom:20px;
    color:#02042f;
    
}
.botton-box-1 > .botton-txt-box-2{
    color:#8484a4;
    font-size:15px;
}
.botton-img-box-a{
    margin-top:30px;
    text-align: center;
    flex-direction: column;
}
.botton-img-box > ul{
    justify-content: center;
}
.botton-img-box > ul > li > .botton-img-box-1 {
    height:22vh;
    width:11vw;
}
.botton-img-box > ul > li > .botton-img-box-1 > .botton-img-1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
}
.botton-img-box-2 > ul{
    justify-content: center;
    margin-top:-10px;
}
.botton-img-box-2 > ul > li {
    display: none;
}
.botton-img-box-2 > ul > li > .botton-img-box-1 {
    width: 25vw;
    height: 25vh;

}
.botton-img-box-2 > ul > li > .botton-img-box-1 > .botton-img-1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25px;
}
@media(max-width:800px){
    .botton-img-box  > ul > li {
        display: none;
    }
}
@media(max-width:800px){
    .botton-img-box-2  > ul > li {
        display: block;
    }
}



.botton-img-box-1{
    padding-right:50px;
}


.botton-img-box > ul > li > ul{
    margin-top:20px;
    justify-content: center;
    margin-right: 35px;
}
.botton-img-box-2 > ul > li > ul{
    justify-content: center;
    margin-right: 30px;
}
.botton-img-box > ul > li > ul > li > a{
    transition: 0.3s;
}
.botton-img-box  > ul > li > ul > li:hover > a {
    color:#007bff;
}
.botton-img-box-2 > ul > li > ul > li > a{
    transition: 0.3s;
}
.botton-img-box-2  > ul > li > ul > li:hover > a {
    color:#007bff;
}




.botton-bar-2{
    margin-top:100px;
    background-color:#393f7d;
    padding:5%;
    height: 50vh;
}



.botton-img-box-2{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media(max-width:800px){
    .botton-bar-2{
        padding:1%;
    }
}








.link-bar-1 >.bottom-log-box{
    justify-content:center;
}
.link-bar-1 > ul{
    justify-content:center;
    padding-bottom:70px;
}
.link-bar-1 > ul > li{
    font-size:25px;
    padding:0 10px;
}
.link-bar-1 > ul > li > a{
    background-color:#47494c;
    border-radius:50%;
    padding:0 8px;
    color:white;
    transition: 0.3s;
}
.link-bar-1 > ul > li:hover > a{
    background-color:#007bff;
}
.link-bar-1 > .bottom-link-box {
    padding-bottom:20px;
}
.link-bar-1 > .bottom-link-box > ul{
    justify-content:center;
}
.link-bar-1 > .bottom-link-box > ul > li > a{
    position:relative;
    padding:0 20px;
}
.link-bar-1 > .bottom-link-box > ul > li:first-child> a::after{
   content:"";
  top:50%;
  left:100%;
  position:absolute;
  width:1px;
  height:10px;
  background-color:black;
  transform:translateY(-50%);
}
.botton-link-bar > .botton-lest-box{
    position:relative;
}
.link-bar-1 > span{
    justify-content:center;
    font-weight:300;
    
}