/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;

}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

body{
    overflow-x:hidden;
}
/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.height-100p {
  height:100%;
}

.height-50p {
  height:50%;
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

* > .flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-end {
  justify-content:flex-end;
}

* > .flex-ai-c {
  display:flex;
  align-items:center;
}

* > .flex-column-nowrap {
  flex-flow:column nowrap;
}

* > .flex-row-nowrap {
  flex-direction:row;
  flex-wrap:nowrap;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}

/* 커스텀 */
.con-min-width {
  min-width:1356px;
}

.con-1{
    max-width: 1750px;
    margin: 0 auto;
}
.con {
  max-width:1300px;
}

html,body{
    overflow-x: hidden;
}

/* 메뉴 이밴트 */
html[data-fullpage-index="0"] .menu-box-1 > ul > li,
html[data-fullpage-index="1"] .menu-box-1 > ul > li,
html[data-fullpage-index="2"] .menu-box-1 > ul > li{
  color: #DDB287;
  font-weight: 500;
}
html[data-fullpage-index="0"] .menu-box-1 > ul > li:hover,
html[data-fullpage-index="1"] .menu-box-1 > ul > li:hover,
html[data-fullpage-index="2"] .menu-box-1 > ul > li:hover,
html[data-fullpage-index="3"] .menu-box-1 > ul > li:hover,
html[data-fullpage-index="4"] .menu-box-1 > ul > li:hover,
html[data-fullpage-index="0"] .menu-box-1 > ul > li.active,
html[data-fullpage-index="1"] .menu-box-1 > ul > li.active,
html[data-fullpage-index="2"] .menu-box-1 > ul > li.active,
html[data-fullpage-index="3"] .menu-box-1 > ul > li.active,
html[data-fullpage-index="4"] .menu-box-1 > ul > li.active{
  color: #B47F1C;
}

html[data-fullpage-index="3"] .menu-box-1 > ul > li,
html[data-fullpage-index="4"] .menu-box-1 > ul > li{
  color: black;
  font-weight: 500;
}

/* 메인 페이지 시작 */
.page-1{
    background-color: #35302E;
}
.menu-box-1{
    position: fixed;
    top:5%;
    left: 15%;
    width: 100%;
    z-index: 1;
    color: #DDB287;
    font-size: 18px;
}

.phot-box-1 > .phot-img-1{
    position: absolute;
    top:30%;
    left: 37%;
    z-index: 1;
}
.phot-box-1 > .phot-img-1 > .phot-txt-1{
    position: absolute;
    top:3%;
    left: 20%;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.cd-img-1{
    position: absolute;
    top:4%;
    left:53%;
    z-index: -1;
    border-radius: 25%;
     animation-name: rotatebox;
     animation-duration: 2.5s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}
@keyframes rotatebox{
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  .menu-box-1{
      z-index: 3;
  }
.menu-box-1 > ul{
    width: 100%;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    

}
.menu-box-1 > ul > li{
    margin:0 25px;
}
.menu-box-1 > ul > li > a{
    cursor: pointer;
}
.menu-box-1 > ul > li{
    /* position: relative; */
    transition: 0.3s;
}
.menu-box-1 > ul > li:hover{
    color: #B47F1C;
}
.top-bar-1{
    justify-content: center;
    z-index: 2;
}
.top-bar-common > .top-box-common{
    justify-content: space-between; 
    width: 100%;
    color: #DDB287;
}
.background-img-1{
    position: absolute;
    top:25%;
    left: -3%;
    width: 103%;
}
.background-img-1 > img{
    width: 100%;
}
.top-bar-common > .top-box-common > .left-common{
    margin-top:45px;
}
.top-bar-common > .top-box-common > .left-common > ul{
    flex-direction: column;
}
.top-bar-common > .top-box-common > .left-common > ul > li:first-child{
    font-size: 18px;
    font-weight: bold;
}
.top-bar-common > .top-box-common > .left-common > ul > li:nth-child(2){
    font-size: 17px;
}
.top-bar-common > .top-box-common > .left-common > ul > li:nth-child(3){
    font-size: 13px;
    font-weight: 300;
}
.top-bar-common > .top-box-common > .left-common > ul > li:nth-child(4){
    position: relative;
    padding: 20px 0;
}
.top-bar-common > .top-box-common > .left-common > ul > li:nth-child(4)::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #DDB287;
}
.top-bar-common > .top-box-common > .right-common{
    font-size: 20px;
    margin-top:50px;
    font-weight: bold;
}
.botton-common{
    height: 80%;
    align-items: flex-end;
    justify-content: space-between;
}
.botton-common > ul{
    color: #DDB287;
    margin-bottom: 20px;

}
.botton-common > ul > li{
    padding: 5px 0;
}
.botton-common > ul > li:first-child{
    position: relative;
    padding: 20px 0;
}
.botton-common > ul > li:first-child::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #DDB287;
}
.botton-common > ul > li:nth-child(2){
    font-size: 15px;
    font-weight: bold;
}
.botton-common > ul > li:nth-child(3){
    position: relative;
}
.botton-common > ul > li:nth-child(3)::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #DDB287;
}
.botton-common > ul > li:nth-child(4){
    font-weight: 300;
    font-size: 13px;
}
.botton-common >  .name-box-1{
    color: #DDB287;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* 두번째 페이지 */

.page-2{
background-color: #1E2C2E;
}
.top-bar-2{
  height: 95%;
}
.right-common-2{
  font-size: 20px;
  font-weight: 300;
}
.right-common-2 > span{
  font-weight: bold;
}
.top-bar-2 > .top-box-2{
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #DDB287;
}
.left-common-2{
  margin-top:45px;
  justify-content: space-between;
  width: 100%;
}
.top-bar-2 > .top-box-2 > .top-left-common-2 >ul > li:first-child{
  font-size: 16px;
}
.botton-common-2{ 
  height:initial;
  opacity: 0.7;
}
.botton-common-2 >ul{
  margin-bottom:-23px;
}

.about-box{
  margin-top:50px;
  align-items: center;
  justify-content: center;
}
.about-img-box{
  width: 400px;
  height: 400px;
  background-color: white;
}


.about-box > .about-profile-box{
  margin-left: 250px;
}
.about-box > .about-profile-box > ul{
  flex-direction: column;
  margin: 0 20px;
  color: white;
}
.about-box > .about-profile-box > ul.profile-title{
  font-weight: bold;
  font-size: 20px;
}
.about-box > .about-profile-box > ul.profile-contents{
  margin-left: 80px;
  font-weight: 300;
}
.about-box > .about-profile-box > ul.profile-contents > li{
  margin: 17.5px 0;
}
.about-box > .about-profile-box > ul > li{
  margin:15px 0;

}


.about-skill-box{
  height: 100%;
  width: 20%;
}
.about-skill-box > ul{
  height: 100%;
  justify-content:space-around;
}
.about-skill-box > ul > li{
  height: 100%;
  width: 3.5%;
  background-color: rgba(255, 255, 255, 0.404);
  position: relative;
}
.about-skill-box > ul > li::after{
  content: "";
  position:absolute;
  left: 0;
  bottom: 0;
  background-color:#DDB287;
  height: 0;
  width: 100%;
  z-index: 3;
  transition: 1s;
}
/* 프로그래스바 시작 */
.about-skill-box.active > ul > li:first-child::after {
  animation-name: progressbar1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes progressbar1{
  0%{
    height: 0%;
  }
  100%{
    height: 80%;
  }
}
.about-skill-box.active > ul > li:nth-child(2)::after {
  animation-name: progressbar2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes progressbar2{
  0%{
    height: 0%;
  }
  100%{
    height: 85%;
  }
}
.about-skill-box.active > ul > li:nth-child(3)::after {
  animation-name: progressbar3;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes progressbar3{
  0%{
    height: 0%;
  }
  100%{
    height: 67%;
  }
}
.about-skill-box.active > ul > li:nth-child(4)::after {
  animation-name: progressbar4;
  animation-duration: 2.3s;
  animation-fill-mode: forwards;
}
@keyframes progressbar4{
  0%{
    height: 0%;
  }
  100%{
    height: 65%;
  }
}
.about-skill-box.active > ul > li:last-child::after {
  animation-name: progressbar5;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes progressbar5{
  0%{
    height: 0%;
  }
  100%{
    height: 63%;
  }
}


.about-skill-box > ul > li::before{
  content: "";
  position: absolute;
  bottom:0;
  left: -9px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  z-index: 5;
}
.about-skill-box.active > ul > li:first-child::before {
  animation-name: borderradius1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes borderradius1{
  0%{
    bottom: 0;
  }
  100%{
    bottom: 78%;
  }
}
.about-skill-box.active > ul > li:nth-child(2)::before {
  animation-name: borderradius2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes borderradius2{
  0%{
    bottom: 0;
  }
  100%{
    bottom: 81%;
  }
}
.about-skill-box.active > ul > li:nth-child(3)::before {
  animation-name: borderradius3;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes borderradius3{
  0%{
    bottom: 0;
  }
  100%{
    bottom: 65%;
  }
}
.about-skill-box.active > ul > li:nth-child(4)::before {
  animation-name: borderradius4;
  animation-duration: 2.3s;
  animation-fill-mode: forwards;
}
@keyframes borderradius4{
  0%{
    bottom: 0;
  }
  100%{
    bottom: 63%;
  }
}
.about-skill-box.active > ul > li:last-child::before {
  animation-name: borderradius5;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes borderradius5{
  0%{
    bottom: 0;
  }
  100%{
    bottom: 61%;
  }
}

.about-skill-box >.about-skill-data{
  opacity: 0;
  visibility: hidden;
}
.about-skill-box.active >.about-skill-data {
  animation-name: data1;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes data1{
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility:visible;
  }
}
/* 프로그래스바 끝 */

.about-skill-data > ul{
  margin-top:10px;
  justify-content:space-around;
  font-weight: 300;
}
.about-skill-data > ul.skill-data-1 > li{
  font-size: 17px;
}
.about-skill-data > ul.skill-data-1 > li::after{
  content: "%";
}
.about-skill-data.active > ul > li > span{
  opacity: 1;
  visibility: visible;
}
.about-skill-data > ul.skill-name-1 > li{
  display: flex;
  width: 100%;
  justify-content: center;
}


/* 3번째 페이지 */

.page-3{
  background-color: #E1D6C5;
  position: relative;
  overflow: hidden;
}
.background-half-color{
  position: absolute;
  top:-20%;
  left: -25%;
  height: 130vh;
  width:90%;
  transform: rotate(120deg);
  background-color: #35302E;
}

.top-bar-3{
  height: 95%;
  z-index: 1;
}
.top-box-3{
  flex-direction: column;
  z-index: 1;
}
.top-left-common-3{
  color:#DDB287;
}
.top-right-common-3{
  color: black;
  font-weight: 300;
}
.top-right-common-3 > span{
  font-weight: bold;
}
.top-bar-3> .top-box-3 > .top-left-common-3 > ul > li:first-child{
  font-size: 16px;
}
.botton-common-3 > ul > li{
  color: #DDB287;
}
.slider-box{
  margin-top:100px;
  width: 100%;
}
@media(max-width:800px){
  .slider-box{
      flex-direction:column;
      align-items:center;
  } 
}
.background-1{
  position:absolute;
  top:-12%;
  left:-10%;
  height:120vh;
  width:55vw;
  transform:rotate(10deg);
  background-color:#35302E;
  
}
.slider-k {
  position:relative;
  height:60vh;
  width:100%;
  margin:0 50px;
  flex-direction:column;
}
.slider-k .slides {
  height: 50%;
  width:100%;
}

.slider-k .slides > .slider-list  {
  position: absolute;
  width: 100%;
  display:flex;
  visibility:hidden;
  opacity:0;
 transition: opacity 1s, visibility 1s;
}
@media(max-width:800px){
  .slider-k .slides > .slider-list{
      width:100%;
      left:0;
  } 
}

.slider-k .slides > .slider-list.active{
  opacity:1;
  visibility:visible;
  z-index:1;
}

.slider-k .slides > .slider-list  > .img-box-1{
  position: relative;
  margin-top:50px;
  margin-left: -60%;
  border-radius: 50%;
  overflow: hidden;
  height:53vh;
  width: 85%;
}
.slider-k .slides > .slider-list  > .img-box-1::after{
  content:"";
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  height: 445px;
  width: 445px;
  z-index: 2;
  border:3px solid black;
}
.slider-k .slides > .slider-list  > .img-box-1::before{
  content: "";
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 3;
  background-color: black;
}
.slider-k .slides > .slider-list > .img-box-1 >.slider-img{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;

}
.slider-k .slides > .slider-list:nth-child(3) > .img-box-1 >.slider-img{
  background-position:left;
}
.slider-k .slides > .slider-list:last-child> .img-box-1 >.slider-img{
  background-position:left;
}


.slider-k .slides > .slider-list > .slider-txt{
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width: 20vw;
  font-size:15px;
  color: black;
} 
.slider-k .slides > .slider-list > .slider-txt > ul{
  margin-top:100px;
  flex-direction:column;
  align-items: flex-start;
  height:100%;
  width: 100%;
}
.slider-k .slides > .slider-list > .slider-txt > ul > li:first-child{
  font-size:50px;
  font-weight:bold;
  
}


.slider-k .slides > .slider-list > .slider-txt > ul > li:nth-child(2){
  font-size:30px;
  line-height:30px;
}

.slider-k .slides > .slider-list > .slider-txt > ul > li:nth-child(3){
  width:5vw;
 height:1vh;
  margin:20px 0;
}
.slider-k .slides > .slider-list > .slider-txt > ul > li:nth-child(4){
  font-size:18px;
}
.slider-k .slides > .slider-list > .slider-txt > ul > li:last-child {
  margin-top:20px;
  display:flex;
}

.slider-k .slides > .slider-list > .slider-txt > ul > li:last-child > span{
  margin: 0;
  color: black;
  font-size:15px;
  font-weight: 500; 
  z-index: 1;
  margin:0 20px;
  cursor:pointer;
}
.slider-k .slides > .slider-list > .slider-txt > ul > li:last-child > span >a{
  padding:10px 50px;
  border-radius: 20px;
  transition:  0.5s;
  border:1px solid #35302E;
}
.slider-k .slides > .slider-list > .slider-txt > ul > li:last-child > span:hover > a{
  color: #DDB287;
  background-color: #35302E;

}
.slider-box > .list-1{
  width:100%;
  margin:0 50px;
  flex-direction:column;
  align-items:flex-start;
  justify-content: center;
  color:#DDB287;
  z-index:10;
}
.slider-box > .list-1 > div{
  cursor:pointer;
  align-items: center;
  margin: 10px 0;
}
.slider-box > .list-1 > div > .list-img-box {
  height: 70px;
  width: 70px;
  margin: 0 30px;
  border-radius: 20px;
  overflow: hidden;
}
.slider-box > .list-1 > div > .list-img-box > .logo-img-box{
  height: 100%;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}



.side-btns{
  position: absolute;
  top:80%;
  left:30%;
  width: 50%;
  height:10%;
  transform: translatey(-50%);
  font-weight:bold;
  z-index:100;
}
.side-btns > .left-btn{
  position:absolute;
  top:0;
  left:0;
  cursor:pointer;
  z-index: 3;
}
.side-btns > .riht-btn{
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
}


/* 4번쨰 페이지 */

.page-4{
  background-color: #DDB287;
  color: black;
  position: relative;
}

.page4-box{
  height: 95%;
}

.botton-common-4 {
  margin-top:83px;
  height: initial;
  z-index: 100;
}
.botton-common-4 > ul{
  color: black;
  opacity: 0.6;
}
.botton-common-4 > ul > li:first-child::after{
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: black;
}
.botton-common-4 > ul > li:nth-child(3)::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
}
.top-bar-4 > .top-box-4 > .top-right-common-4 {
  color: black;
  z-index: 1;
  font-weight: 300;
}
.top-bar-4 > .top-box-4 > .top-right-common-4 > span{
  font-weight: bold;
}
/* .top-bar-common > .top-box-common > .left-common > ul > li:first-child */
.top-bar-4 > .top-box-4 > .top-left-common-4 >ul > li:first-child{
  color:black;
  z-index: 1;
  font-size:16px;
}


.slider-p {
  margin-top:130px;
  height:50vh;
   width:100%;
  position:relative;
}
.slider-p .slides{
  height:100%;
}
.slider-p .slides > div {
  position:absolute;
  top:0;
  left:-15px;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: space-around;
  opacity:0;
  visibility: hidden;
  transition:opacity 1s, visibility 1s ;
}

.slider-p .slides > div.active {
  opacity:1;
  visibility:visible;
}
.slider-p .slides > div > .slider-txt-1{
  height: 90%;
  margin-left: 25%;
}
.slider-p .slides > div > .slider-txt-1 > ul{
  flex-direction: column;
  height: 100%;
  color: black;
}
.slider-p .slides > div > .slider-txt-1 > ul > li:first-child{
  font-size: 50px;
  font-weight: bold;
}
.slider-p .slides > div > .slider-txt-1 > ul > li:nth-child(2){
  font-size: 30px;
  font-weight: 500;
}
.slider-p .slides > div > .slider-txt-1 > ul > li:nth-child(2)>a:hover{
  text-decoration: underline;
}
.slider-p .slides > div > .slider-txt-1 > ul > li:nth-child(3){
  margin-top:20px;
  font-size: 16px;
}
.slider-p .slides > div > .slider-txt-1 > ul > li:last-child{
  margin-top:50px;
  align-self: flex-end;
}
.slider-p .slides > div > .slider-txt-1 > ul > li:last-child > a{
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 20px;
  position: relative;
  transition: .5s;

}
.slider-p .slides > div > .slider-txt-1 > ul > li:last-child > a:hover{
  opacity: 1;
  background-color: #35302E;
  color: #DDB287;
}
.slider-p .nav-box {
  z-index:1;
  position:absolute;
  width: 20%;
  bottom:5%;
  right:10%;
  flex-direction: column-reverse;
}
.slider-p .nav-box >.control-box{
  margin-top:20px;
  justify-content: space-between;
}
.slider-p .nav-box >.control-box > span{
  cursor: pointer;
}
.slider-back-img{
  position: absolute;
  z-index: 1;
}
.progress-bar-box{
  align-items: center;
}
.slider-p .progress-bar {
  background-color:rgba(216, 215, 215, 0.651);
  height:13px;
  width:100%;
  position:relative;
  border-radius:20px;
}

.slider-p .progress-bar > .stick {
  position:absolute;
  left:0;
  top:0;
  width:0;
  height:100%;
  background-color:#35302E;
  opacity: 1;
  border-radius:20px;
}
.index-box{
  position: absolute;
  top:-10%;
  right: -13%;
}

/* 마지막 페이지 */

.page-5{
  background-color: #E6CEB1;
  
}
.page5-box{
  height: 95%;
}
.page5-box  > .top-bar-5{
  height: 100%;
}
.page5-box  > .top-bar-5 > .top-box-5{
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.page5-box  > .top-bar-5 > .top-box-5 >.top-left-common-5{
  margin-top:35px;
}



.email-large-box-1{
  width: 40%;
  margin-left: -120px;
  margin-right: 50px;
}
.email-large-box-1 > .media-tiltl{
  margin-top:50px;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}
.email-box-1{
  margin-top:50px;
  flex-direction:column;
  width: 100%;
}

input{
   font-size:15px;
    padding-bottom:20px;
   border:2px solid black;
   margin:10px 0;
   font-weight:bold;
    border-radius:7px;
}
textarea{
   font-size:15px;
   padding-bottom:100px;
    margin:10px 0;
   border:2px solid black;
   font-weight:500;
    border-radius:7px;
}
.email-box-1 > .your-name-box-1{
  flex-direction:column;
}
.email-box-1 > .your-email-box-1{
  flex-direction:column;
}
.email-box-1 > .content-input-box-1{
  flex-direction:column;
}
.email-box-1 > .content-input-box-1 > .content-input-1{
  align-items:center;
}
.email-box-1 > .transfer-box-1{
  flex-direction:column;
  align-items:center;
}
.email-box-1 > .transfer-box-1 > .transfer-1{
  margin-top:20px;
  font-size:15px;
  background-color:white;
  padding:10px 50px;
  border-radius:20px;
  cursor:pointer;
}
.title-1{
  font-weight:bold;
}
.media-box{
  margin-top:80px;
  justify-content: center;
}

.greeting-box{
  position: relative;
}
.greeting-box >.greeting-content-box{
  margin-top:25px;
}

.content-cd-img{
  position: absolute;
  top:13%;
  left:53%;
  z-index: 1;
  border-radius: 25%;
   animation-name: media-rotatebox;
   animation-duration: 2.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
@keyframes media-rotatebox{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.content-box{
  position: relative;
  height: 450px;
  width: 450px;
  background-color: white;
  border:1px solid black;
  z-index: 2;
}  
.content-box > ul {
  margin: 10px 0;
  flex-direction: column;
  align-items: center;
}
.content-box > ul > li:nth-child(2){
  margin-top:50px;
}
.content-box > ul > li > span{
  font-weight: bold;
}
.content-box > ul > li:last-child{
  margin-top:100px;
  flex-direction: column;
  align-items: center;
  line-height: 13px;
}
.content-box > ul > li:last-child > span{
  z-index: 1;
}

.botton-common-5 > ul{
  color: black;
  opacity: 0.6;
}
.botton-common-5 > ul > li:first-child::after{
  background-color: black;
}
.botton-common-5 > ul > li:nth-child(3)::after{
  background-color: black;
}
