/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing:-0.5px;
    word-spacing:2px;
    word-break:keep-all;
}

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;

}

a {
    color:inherit;
    text-decoration:none;
}

label[for] {
    cursor:pointer;
    user-select:none;
}

/* 라이브러리 */
.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-bottom {
    position:absolute;
    bottom:0;
}

.absolute-top {
    position:absolute;
    top:0;
}

.absolute-center {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.absolute-middle.absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}

.relative {
    position:relative;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.clear-both {
    clear:both;
}

.img-box > img {
    width:100%;
    display:block;
}

.con {
    margin-left:auto;
    margin-right:auto;
}

.margin-0-auto {
    margin-left:auto;
    margin-right:auto;
}

.text-align-center {
    text-align:center;
}

.text-align-right {
    text-align:right;
}

.line-height-0 {
    line-height:0;
}

.line-height-0 > * {
    line-height:normal;
}

.width-30px {
    width:30px;
}

.width-35px {
    width:35px;
}

.width-40px {
    width:35px;
}

.width-45px {
    width:35px;
}

.width-50px {
    width:50px;
}

.width-80px {
    width:80px;
}

.width-100px {
    width:100px;
}

.width-100p {
    width:100%;
}

.width-60p {
    width:60%;
}

.width-55p {
    width:55%;
}

.width-50p {
    width:50%;
}

.width-45p {
    width:45%;
}

.width-40p {
    width:40%;
}

.width-30p {
    width:30%;
}

.width-35p {
    width:35%;
}

.width-100p-except-30px {
    width:calc(100% - 30px);
}

.width-100p-except-35px {
    width:calc(100% - 35px);
}

.width-100p-except-40px {
    width:calc(100% - 40px);
}

.width-100p-except-50px {
    width:calc(100% - 50px);
}

.width-100p-except-80px {
    width:calc(100% - 80px);
}

.width-100p-except-100px {
    width:calc(100% - 100px);
}

.height-100p {
    height:100%;
}

.height-50p {
    height:50%;
}

.border-box {
    box-sizing:border-box;
}

.font-size-dot-8rem {
    font-size:.8rem;
}

.table-row {
    display:table;
}

.table-row.row::after {
    display:inline;
    clear:non;
}

.table-row > .cell {
    float:none;
    display:table-cell;
}

/* 라이브러리 - flex */
* > .flex {
    display:flex;
}

* > .flex-grow-1 {
    flex-grow:1;
}

* > .flex-jc-end {
    justify-content:flex-end;
}

* > .flex-ai-c {
    display:flex;
    align-items:center;
}

* > .flex-column-nowrap {
    flex-flow:column nowrap;
}

* > .flex-row-nowrap {
    flex-direction:row;
    flex-wrap:nowrap;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-ch-basis-0 > * {
    flex-basis:0;
}
.flex-jc{
    justify-content:center;
}
* > .flex-1-0-0 {
    flex:1 0 0;
}

/* 커스텀 */
.con-min-width {
    min-width:1300px;
    margin: 0 auto;
}
.con-min-width-1 {
    min-width:900px;
    margin: 0 auto;
}
.con {
    max-width:1200px;
}
.con-1{
    max-width:900px;
    margin:0 auto;
}


/* 커스텀 */
html, body {
    font-family: font_ns, sans-serif;
}

body{
    overflow-x:hidden;
}


/* 상단 메뉴 박스 */
.top-bar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
    transition:0.5s;
    padding:20px 0;
    z-index:10;
}
.top-bar-wdith{
    top:0;
    max-width:2000px;
    padding:10px 0;
}
.background{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    border-top:1px solid #dfdfdf;
    background-color:white;
    overflow:hidden;
    visibility:hidden;
    height:0;
    transition: height 0.3s, visibility 0.2s;
}
.background.active{ 
    visibility:visible;
    overflow:hidden;
    height:250px;
}
.background > ul{
    margin:0 auto;
    margin-top:20px;
    justify-content:space-evenly;
    height:80%;
    width: 80%;
}
.background > ul > li:last-child{
    margin:20px;
    margin-left:80px;
    padding:0 30px;
    padding-left:50px;
    border-left:1px solid #afafaf;
}
.background > ul > li > ul{
    margin-top:15px;
}
.background > ul > li > ul > li{
    padding:5px 0;
    color:gray;
}
.background > ul > li > ul > li > a{
    transition: 0.3s;
}
.background > ul > li > ul > li:hover > a{
    color:#FF2C2C;
}
.top-bar > .top-menu-box{  
    align-items:center;
    justify-content:center;
}
.top-bar > .top-menu-box > .logo-box{
    margin-left:20px;
}
.top-bar > .top-menu-box > ul{
    justify-content:space-evenly;
    align-items:center;
    width:60%;
}
.top-bar > .top-menu-box > ul > li{
    align-items:center;
    transition: 0.3s;
    font-weight:500;
}
.top-bar > .top-menu-box > ul > li:last-child{
    cursor: pointer;
}
.top-bar > .top-menu-box > ul > li > a{
    padding:10px 20px;
    display:block;

}
.top-bar > .top-menu-box > ul > li > span{
    transition:transform 0.3s;
}
.top-bar > .top-menu-box > ul > li > span.active{
    transform:rotate(180deg)
}
.top-bar > .top-menu-box > ul > li:hover{
    color:#FF2C2C;
}


.slider-k {
    position:relative;
    user-select:none;
}
.slider-bg-1{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 1;
}

.slider-k .side-btns > div {
    position:absolute;
    top:50%;
    left:20%;
    cursor:pointer;
    z-index: 2;
}

.slider-k .side-btns > div:active > span {
    transform:translateY(-45%);
}

.slider-k .side-btns > div:last-child {
    left:auto;
    right:20%;
}
.slider-k .side-btns > div > span > .img-box{
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    height:6vh;
    width:6vw;
    z-index:1;
}

.slider-k .side-btns > div > span {
    font-size:4rem;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:inherit;
    right:inherit;
    margin:0 10px;
    transition:transform 0.2s;   
}

.slider-k.height-full {
    height:100%;
}

.slider-k .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility:hidden;
    opacity:0;
    transition: opacity 1s, visibility 1s;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.slider-k .slides > div > .slider-txt{
    position:absolute;
    left:50%;
    z-index:5;
    color:white;
    height:100%;
    justify-content:center;
    align-items:center;
    margin-left:0;
}
.slider-k .slides > div > .slider-txt > ul{
    flex-direction:column;
    justify-content:center;
    transition: all 1s;
}
.slider-k .slides > div.active > .slider-txt > ul{
    margin-top:-80px;
    transition: all 1s;
}
.slider-k .slides > div > .slider-txt > ul > li:last-child{
    margin-top:30px;
    border:1px solid white;
    border-radius:30px;
    padding:15px 10px;
    width:30%;
    padding-left:50px;
}

.slider-k .slides > div > .slider-txt > ul > li:nth-child(1){
    margin-bottom:50px;
    transition: all 2s 
}
.slider-k .slides > div.active > .slider-txt > ul > li:nth-child(1){
   margin-bottom:10px;
    transition: all 2s 
}
.slider-k .slides > div > .slider-txt > ul > li:nth-child(2){
   margin-bottom:50px;
    transition: all 3s ;
}
.slider-k .slides > div.active > .slider-txt > ul > li:nth-child(2){
    transition: all 3s ;
    margin-bottom:10px;
}
.slider-k .slides > div.active {
    visibility:visible;
    opacity:1;
    transition:opacity 1s;
}

.slider-k .page-nav {
    position:absolute;
    bottom:2%;
    left:0;
    width:100%;
    text-align:center;
}
.slider-k .page-nav > div:hover {
    opacity:0.7;
}

.slider-k .page-nav > div.active {
    opacity:1;
}

.height-100vh {
    height:100vh;
}



.slider-k1 .page-nav > div {
    display:block;
    
}










/*메뉴 */
.content-2{
    margin-top:180px;
    height: 80vh;
}
.menu-title-box > .title-txt-1{
    color:#FF2C2C;
    font-size: 1.286rem;
    font-weight: 700;
}
.menu-title-box > .title-txt-2{
    flex-direction: column;
    font-weight: 400;
    font-size:30px;
    margin-left: 150px;
    line-height: 50px;
}
.tab-box {
    max-width: 1200px;
    min-width: 1200px;
    margin:0 auto;
}
.tab-box-1 .head {
    margin-top:100px;
    margin-left:700px;
}
.tab-box-1 .head ul {
    display:block;   
}
.tab-box-1 .head .cell{
    padding:0 20px;
    font-weight:bold;
    font-size:16px;
}
.tab-box-1 .head > ul > li::before {
    content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:0;
    width:1px;
    height:13px;
    background-color:#666666
}
.tab-box-1 .head > ul > li {
    position:relative;
}
.tab-box-1 .head > ul > li:first-child::before {
    display:none;
}

/* 메뉴들 */

.tab-box-1 > .head > ul > li.active {  
    color:#FF2C2C;
}
.tab-box-1 > .body{
    height: 50vh;
}
.tab-box-1 > .body > ul > li {
    position:relative;
}
.tab-box-1 > .body > ul > li > .carousel-1 {
    top:0;
    width:100%;
    text-align:center;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    visibility:hidden !important;
    opacity:0;
    transition:opacity .5s, visibility .5s, margin-left .5s .5s;
    margin-left:120%;
}
.tab-box-1 > .body > ul > li.active > .carousel-1 {
    visibility:visible !important;
    opacity:1;
    transition:opacity 0s, visibility 0s, margin-left .5s;
    margin-left:0;
}

.slider-box .item {
    padding:20px 40px;
    cursor:pointer;
    margin:0 10px;
    transition: 0.3s;
    margin-top:10px;
    flex-direction:column;
    align-items:center;
    border-radius:20px;
}

.slider-box .owl-item > .item > .img-box {
    transition:transform 0.3s;
}
.slider-box .owl-item:hover > .item > .img-box {
    transform:scale(1.2)
}


/* 캐러셀1 */
.carousel-1 .owl-nav > div {
    padding:0 !important;
    margin:0 20px !important;
    border-radius:0 !important;
    background-color:transparent !important;
    position:absolute;
    top:50%;
    left:-70px;
    transform:translateY(-50%);
}
.carousel-1 .owl-nav > div.owl-next {
    left:auto;
    right:-70px;
}
.body .carousel-1 .owl-carousel {
    margin-top:100px;
}
.tab-box-1 .body .carousel-1 .main-name {
    margin-top:30px;
    font-size:18px;
    font-weight:bold;
    color:black;
}
.tab-box-1 .body .carousel-1 .name {
    font-size:18px;
    opacity:1;
    margin-top:20px;
    color:black;
    font-weight:500
}

.tab-box-1 .body .carousel-1 .name  > span{
     color:#FF2C2C;
    font-weight:bold;
}

.slider-box .owl-theme .owl-nav .disabled {
    opacity:1 
}
div.left-btn {
    background-image:url(http://subway.co.kr/images/news/icon_event_slider_arr.png);
    background-position:0 0;
    width:50px;
    height:50px;
    cursor:pointer;
    margin-left:-100px;
}
div.right-btn {
    background-image:url(http://subway.co.kr/images/news/icon_event_slider_arr.png);
    width:50px;
    height:50px;
    background-position:50px 0;
    cursor:pointer;
    margin-left:auto;
    margin-right:-120px
}

.slider-box .item > .name {
    white-space:nowrap;
}
.slider-box .item {
    position:relative;
}



.slider-head-1 {
    height: 80vh;
}
.slider-head-1 >.slider-bar{
    padding-top:100px;
}
.slider-box{
    margin-top:100px;
    margin-bottom: 50px;
    margin-left: 80px;
    height: 50vh;
}
.slider-a {
    position:relative;
    width:70%;
    flex-direction:column;
}



.slider-a .slides-a > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility:hidden;
    opacity:0;
    transition: opacity 1s, visibility 1s;
}
.slider-a .slides-a > div.active {
    opacity:1;
    visibility:visible;
    z-index:1;
}


.slider-box > .list-1{
    height: 100%;
    flex-direction:column;
    align-items: flex-start;
}
.slider-box > .list-1 > div{
    cursor:pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.205);
    width: 150px;
   height: 100%;
}
.slider-box > .list-1 > div:not(:last-child){
    border-bottom: 1px solid black;
}





.domino-ebant-box-1{
    margin-top:200px;
    padding: 50px 0;
    height: 63vh;
    background-color: rgb(212, 212, 212);
    flex-direction: column;
}
.service-title-box-1 {
    width: 100%;
}
.service-title-box-1  > .title-txt-1{
    font-size: 1.286rem;
    color: #FF2C2C;
    font-weight: 700;
}
.service-title-box-1 > ul{
    flex-direction: column;
    font-weight: 400;
    font-size:30px;
    margin-left: 90px;
    line-height: 50px;
}
.domino-ebant-box-1 > .domino-ebant-box-2 {
    width: 100%;
    justify-content: space-around;
}

.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1{
    margin-top:80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul{
    justify-content: center;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul > li{
    cursor: pointer;
    margin: 0 10px ;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul > li > .img-box-1{
    height: 12vh;
    width: 12vw;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul > li > .img-box-1 > .img-1{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul > li > .delivery-box-content-1{

    text-align: center;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul.delivery-box-2{
    margin-top:50px;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul > li > .delivery-box-content-1 > ul> li:first-child{
    font-size: 20px;
    font-weight: 600;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .delivery-bar-1 > ul > li > .delivery-box-content-1 > ul> li:last-child{
    margin-top:10px;
    line-height: 22px;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .domino-ebant-box-3{
    flex-direction: column;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .domino-ebant-box-3 > .my-slider-2 > ul{
    margin-top:10px;
    flex-direction: column;
    align-items: center;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .domino-ebant-box-3 > .my-slider-2 > ul > li{
    line-height:27px;
    font-size: 18px;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .domino-ebant-box-3 > .my-slider-2 > ul > li:nth-child(2){
    font-size: 25px;
    color: #0078AE;
    font-weight: bold;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .domino-ebant-box-3 > .my-slider-2 > ul > li:last-child{
    margin-top:10px;
}
.domino-ebant-box-1 > .domino-ebant-box-2 > .domino-ebant-box-3 > .my-slider-2 > ul > li> a{
    border-radius: 20px;
    padding: 5px 30px;
    background-color: black;    
    color: white;
    display: block;
    font-size: 16px;
}


.my-slider-2{
    margin-top:80px;
    width:15vw;
}
.my-slider-2 .item {
    height:30vh;
    border-radius:0 50px 0 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    cursor:pointer;
}
/* contain */
.my-slider-2 .meddil-silder-box .owl-dots  {
    position:absolute;
    top:5%;
    right:2%;
}

.my-slider-2 .meddil-silder-box .owl-dots .owl-dot span{
    background-color: #D6D6D6;
}

.my-slider-2 .meddil-silder-box .owl-dots .owl-dot.active span {
    transition: width 0.3s, background 0.3s;
    width:30px;
    background-color:#FF4D4D;
}


.foot-bar-1{
    margin-top:130px;
    height: 80vh;
}
.foot-bar-1 > .foot-box-1{
    margin-top:80px;
}
.foot-bar-1 > .foot-box-1 > .domino-news-box {
    justify-content: center;
}
.news-a{
    position: relative;
    margin:0 10px;
}
.news-a > a > .news-bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.news-a:hover > a > .news-bg{
    visibility: visible;
    opacity: 0.6;
}
.news-a > ul{
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    font-weight: 700;
}
.news-a:hover > ul{
    opacity: 1;
    visibility: visible;
}
.news-a> ul > li:last-child{
    margin-top:20px;
}



.foot-bar-2{
    border-top:1px solid #afafaf;
}
.foot-bar-2 > .foot-box-2 > .foot-under-top{
    justify-content:space-between;
}

.foot-bar-2 .sns-link-box >  ul{
    font-size:25px;
    
}

.foot-bar-2 .sns-link-box >  ul > li{
    margin:0 10px;  
}

.foot-bar-2 .language-box{
    align-items:center;
}
.foot-bar-2 .language-box > ul > li {
    position:relative;
}
.foot-bar-2 .language-box > ul > li  > .kor-1{
    padding-right:150px;
    color:gray;
    border-bottom:1px solid #afafaf;
}
.foot-bar-2 .language-box > ul > li > ul{
    position:absolute;
    top:100%;
    display:none;
    flex-direction:column;
    background-color:white;
    border:1px solid #dfdfdf;
}
.foot-bar-2 .language-box > ul > li > ul > li{
    padding-right:165px;
    color:gray;
}

.foot-bar-2 .language-box > ul > li > ul > li:hover{
    background-color:skyblue; 
}
.foot-bar-2 .language-box > ul > li.active > ul{
    display:flex;
}
.foot-bar-2 .app-box{
    justify-content:flex-end;
}
.foot-bar-2 .app-box > ul{
    align-items:center;
}
.foot-bar-2 .app-box > ul > li{
    padding:0 10px;
}
.foot-bar-2 .app-box > ul > li:not(:first-child){
    font-size:25px;
}
.numbar-1{
    font-size:20px;
}
.information-box > ul{
    margin-top:30px;
    color:gray;
}

.information-box > ul > li{
    margin:0 20px;
}
.information-box > ul > li:nth-child(2){
    font-weight:bold;
    color:black;
}
.information-box-2{
    margin-top:40px;
    color:gray;
   font-size:13px;
}
.information-box-2 > ul{
    flex-direction:column;
    align-items:center;
}
.information-box-2 > ul > li{
    padding:5px 0;
}
.information-box-2 > ul > li:nth-child(3) > span{
    margin:0 100px;
}
.information-box-2 > ul > li:last-child{
    margin-top:45px;
}


.foot-information-box{
    margin-top:50px;
    background-color:#f5f5f5;
    padding:30px 0;
}
.foot-information-box > ul {
    justify-content:center;
}
.foot-information-box > ul > li{
    font-size:12px;
    margin:0 10px;
    color:gray;
}
.foot-information-box > ul > li > img{
    margin:0 10px;
}